{% load humanize %}
{% load static %}
<div class="col-12 col-md-6 d-flex align-items-stretch">
    <div class="card col-12">
      <div class="card-header">
        <h2 class="header-title">
          <a class="badge badge-light" href="{% url 'devices:detail' pk=device.id %}" target="_blank">
            <i class="mdi mdi-printer-3d"></i> {{device.hostname}} - {{ device.updated_dt | naturaltime }}</a> 

          </a>              
          <span class="float-right">{% include "partials/task-status-badge.html" with task=device.last_task %}</span>
        </h2>
      </div>
      
      {% include "devices/partials/camera-stream-app.html" with device=device %}

    </div>
</div>