<div class="alert alert-warning mb-0" role="alert">
  <h4 class="alert-heading">Deprecation Notice</h4>
  <p>PrintNanny OS will replace the "OctoPrintNanny" plugin in 2022 and beyond.</p>
  <p>Thank you for trying out the OctoPrint Plugin! 💜 Your feedback helped me <strong>radically improve</strong>
    PrintNanny's video quality and <strong>radically simplify</strong> installation.
  </p>

  <p>To meet this high bar, I created a <strong>full operating system</strong> pre-installed with computer vision tools,
    MQTT, and real-time video stream stack (and of course OctoPrint)
  </p>

  <p>Don't worry! <strong>PrintNanny is still fully compatible with OctoPrint's control system</strong>, for example
    pausing/resuming a job.
  </p>
  <hr>
  <p class="mb-0"><a class="btn btn-primary" href="{% url 'devices:releases-list' %}">Learn More about PrintNanny OS</a>
  </p>
</div>