<div class="alert alert-warning mb-0" role="alert">
    <h4 class="alert-heading">OctoPrint Plugin is Deprecated</h4>
      <p>Hey! Thank you for trying out Print Nanny's OctoPrint Plugin. 💜 Your feedback helped me <strong>radically improve</strong> Print Nanny's video quality and <strong>radically simplify</strong> installation.
      </p>
      
      <p>To meet this high bar, I created a <strong>full operating system</strong> pre-installed with computer vision tools, MQTT, and real-time video stream stack (and of course OctoPrint) 
      </p>
      <p>I'm excited to report <strong>Print Nanny OS</strong> provides a 30fps @ 720 high-quality streaming, with installation options for Mainsail, OctoPrint, and Repetier.</p>

      <p>Don't worry! <strong>Print Nanny is still fully compatible with OctoPrint</strong> for printer control, like pausing/resuming a job. 
        I'll be sunsetting <strong>live video via the OctoPrint plugin</strong>, and will eventually shut the plugin streaming service down after everyone is happily setup on Print Nanny OS.
      </p>
    <hr>
    <p class="mb-0"><a class="btn btn-primary" href="">Learn More about Print Nanny OS</a></p>
</div>