<div id="demo-video-carousel" class="carousel carousel-fade bg-dark">

  <div class="carousel-inner">

    {% for video in DEMO_VIDEOS %}
    <div
      class="{% if forloop.counter == active %} active {% endif %}carousel-item embed-responsive embed-responsive-16by9">
      <video class="embed-responsive-item" autoplay muted loop controls>
        <source src="{{video}}" type="video/mp4">
      </video>
    </div>

    {% endfor %}

  </div>
  <a class="carousel-control-prev" href="#demo-video-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#demo-video-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>