{% load static i18n %}


<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <a href="{{DISCORD_URL}}"> 
                        <div class="toll-free-box text-center">
                            <h4> <i class="mdi mdi-frequently-asked-questions"></i> Have a question?</h4>
                            <p>Click to read the FAQ</p>
                        </div>
                        </a>
                    </div> <!-- end card-body-->
                </div>
            </div> 
            <div class="col-lg-4">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <a href="{{DISCORD_URL}}"> 
                        <div class="toll-free-box text-center">
                            <h4> <i class="mdi mdi-discord"></i> Need help?</h4>
                            <p>Click to join the #bugs Discord channel or email support@print.nanny.com</p>
                        </div>
                        </a>
                    </div> <!-- end card-body-->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <a href="{{DISCORD_URL}}"> 
                        <div class="toll-free-box text-center">
                            <h4> <i class="mdi mdi-thumbs-up-down"></i>Give Feedback or Suggest Features</h4>
                            <p>Click to join the #feedback Discord channel or email support@print.nanny.com</p>
                        </div>
                        </a>
                    </div> <!-- end card-body-->
                </div>
            </div> 
        </div>
        <div class="row">
            
            <div class="col-md-6">
                2020 © Print Nanny - print-nanny.com
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-md-block">
                    <a href="javascript: void(0);">{% trans "About" %}</a>
                    <a href="javascript: void(0);">{% trans "Support" %}</a>
                    <a href="javascript: void(0);">{% trans "Contact Us" %}</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->