{% load static i18n %}


<!-- Footer Start -->
<footer class="footer">
    <div class="row">
        <div class="col-12">
            <div class="text-md-right footer-links d-none d-md-block">
                <span class="float-left">
                    <small>© 2021 PrintNanny,
                        Bitsy AI Labs
                        &nbsp;|&nbsp;
                        Build: {{ GIT_SHA }}
                        &nbsp;|&nbsp;
                        API Version: {{ API_VERSION }}
                    </small>
                </span>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->