{% load static i18n %}


<!-- Footer Start -->  
<footer class="footer">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <p a href="https://www.bitsy.ai/about/" class="text-white-50 mt-4 text-center mb-0">© 2021 Print Nanny, Bitsy AI Labs </p>
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-md-block">
                    <a href="https://help.print-nanny.com/faq/how-to-report-issue-with-octoprint-logs">{% trans "Report an Issue" %}</a>
                    <a href="https://help.print-nanny.com/">{% trans "FAQ" %}</a>
                    <a href="https://blog.print-nanny.com/about/">{% trans "About" %}</a>
                    <a href="https://blog.print-nanny.com/tag/news/">{% trans "Newsletter Archive" %}</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->
