{% load static i18n %}

<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <!-- LOGO -->
    <a href="{% url 'dashboard:home' %}" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="{% static 'images/logo-text-white.svg' %}" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="{% static 'images/logo_sm.png' %}" alt="" height="16">
        </span>
    </a>

    <!-- <a href="{% url 'dashboard:home' %}" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="{% static 'images/logo-dark.png' %}" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="{% static 'images/logo_sm_dark.png' %}" alt="" height="16">
        </span>
    </a> -->

    <div class="h-100" id="left-side-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="metismenu side-nav">

            <li class="side-nav-title side-nav-item">{% trans "Navigation" %}</li>

            <li class="side-nav-item">
                <a href="{% url 'dashboard:home' %}" class="side-nav-link">
                    <i class="uil-home-alt"></i>


                    <span> {% trans "Dashboard" %} </span>

                </a>
            </li>

            <li class="side-nav-item mm-active">
                <a href="javascript: void(0);" class="side-nav-link" aria-expanded="true">
                    <i class="mdi mdi-printer-3d"></i>
                    <span> {% trans "Print Nanny OS" %}
                    </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level  mm-collapse mm-show" aria-expanded="true">
                    <li
                        class="{% if request.resolver_match.url_name == 'devices:releases-list' or '' %}active{% endif %}">
                        <a href="{% url 'devices:releases-list' %}">{% trans "Learn More" %}
                        </a>
                    </li>
                    <li
                        class="{% if request.resolver_match.url_name == 'devices:install-guide' or '' %}active{% endif %}">
                        <a href="{% url 'devices:welcome' %}">{% trans "Install Guide" %}
                        </a>
                    </li>
                </ul>
            </li>

            <li class="side-nav-item mm-active">
                <a href="javascript: void(0);" class="side-nav-link" aria-expanded="true">
                    <i class="mdi mdi-lan"></i>
                    <span> {% trans "Print Nanny Network" %}
                    </span>
                    <span class="menu-arrow"></span>
                </a>

                <ul class="side-nav-second-level  mm-collapse mm-show" aria-expanded="true">
                    <li class="{% if request.resolver_match.url_name == 'surveys:remote-access' %}active{% endif %}">
                        <a href="{% url 'surveys:remote-access' %}"> <span> {% trans "My Network" %} </span> &nbsp;<span
                                class="badge badge-light">Alpha</span>
                            </span>
                    </li>
                </ul>
            </li>


            <li class="side-nav-item mm-active">
                <a href="javascript: void(0);" class="side-nav-link" aria-expanded="true">
                    <i class="mdi mdi-power-plug"></i>
                    <span> {% trans "OctoPrint Plugin" %}
                    </span>
                    <span class="menu-arrow"></span>
                </a>

                <ul class="side-nav-second-level  mm-collapse mm-show" aria-expanded="true">
                    <li class="{% if request.resolver_match.url_name == 'surveys:remote-access' %}active{% endif %}">
                        <a href="{% url 'octoprint:backups-list' %}">Backups</a>
                    </li>
                    <li
                        class="{% if request.resolver_match.url_name == 'dashboard:octoprint-devices:list' %}active{% endif %}">
                        <a href="{% url 'dashboard:octoprint-devices:list' %}">Legacy Connections</a>
                    </li>
                </ul>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'dashboard:videos:list' %}" class="side-nav-link">
                    <i class="mdi mdi-video"></i>


                    <span> {% trans "Videos" %} </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="{% url 'alerts:settings' %}" class="side-nav-link">
                    <i class="uil-bell"></i>


                    <span> {% trans "Alert Settings" %} </span>

                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'subscriptions:list' %}" class="side-nav-link">
                    <i class="dripicons dripicons-basket"></i>
                    <span> {% trans "Subscriptions" %} </span>

                </a>
            </li>

            <li class="side-nav-item">

                <a href="{{DISCORD_URL}}" target="_blank" class="side-nav-link">
                    <i class="mdi mdi-discord"></i>
                    <span> {% trans "Join Discord" %} </span>

                </a>
            </li>


            <li class="side-nav-item">
                <a href="https://help.print-nanny.com/" target="_blank" class="side-nav-link">
                    <i class="mdi mdi-frequently-asked-questions"></i>
                    <span> {% trans "FAQ & Support" %} </span>

                </a>
            </li>
            <li class="side-nav-item">

                <a href="{{ REPORT_ISSUE_URL }}" target="_blank" class="side-nav-link">
                    <i class="mdi mdi-email-edit-outline"></i>
                    <span> {% trans "Report an Issue" %} </span>

                </a>
            </li>


        </ul>
        {% if not user.is_authenticated or not user.is_paid_beta %}
        {% if SOLD_OUT %}
        <div class="help-box text-white text-center">
            <h4>Founding Membership</h4>
            <p>Sold out.
        </div>p>

        </p>Watch your email inbox or join Discord for updates.</p>
        <a class="btn btn-light btn-sm" href="{% url 'surveys:remote-access' %}">Notify Me</a>
    </div>
    {% else %}
    <div class="help-box text-white text-center">
        <h4>Founding Membership</h4>
        <p>A limited number of Beta spots are available</p>
        <a class="btn btn-light btn-sm" href="{% url 'subscriptions:checkout' %}">Get Early Access</a>
    </div>
    {% endif %}
    {% endif %}

    <div class="help-box text-white text-center">
        <h4>Achievements 🏆</h4>
        {% for badge in user.member_badges.all %}
        <span class="badge badge-secondary">{{badge.type}}</span>
        {% endfor %}
        {% if user.is_anonymous %}
        <a class="btn btn-light btn-sm" href="{{ login_url }}">Login to view</a>
        {% endif %}
    </div>

    <!-- End Sidebar -->

    <div class="clearfix"></div>

</div>
<!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->