{% load static %}

<div class="card">
    <div class="card-body">
        <h2 class="header-title"><i class="mdi mdi-printer-3d"></i>
            <i class="mdi mdi-video-box-off"></i>Camera Livestream</h2>

        <div class="container hide" id="streams">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Stream
                            <span class="label label-info hide" id="status"></span>
                            <span class="label label-primary hide" id="curres"></span>
                            <span class="label label-info hide" id="curbitrate"></span>
                        </h3>
                    </div>
                    <div class="panel-body" id="stream"></div>
                </div>
            </div>
        </div>
        <img id="stream-placeholder" style="max-height: 320px" class="img-fluid" src="{% static 'images/sleep.svg' %}" alt="Print Nanny monitoring is offline">
        <div class="alert alert-info col-12 text-center mt-2" role="alert">
            <h4 id="stream-status" class="alert-heading">Monitoring Paused</h4>
            <button class="btn btn-primary" id="start">Start</button>
        </div>

    </div>
</div>