{% load static %}

<div class="col-12 col-md-4">
  <div class="card">
    <div class="card-body">
        <h2 class="header-title"><i class="mdi mdi-printer-3d"></i>
          <i class="mdi mdi-video-box-off"></i>{{obj.name}} livestream</h2>
          <div id="stream-loading-{{obj.id}}" class="row">
            <div class="alert alert-info col-12 col-md-5" role="alert">
              <h4 class="alert-heading"><strong>{{obj.name}}</strong> web camera is <strong>offline.</strong></h4>
              <p>Print Nanny couldn't find a live video stream for this device</p>
              <p><button class="btn btn-primary">Troubleshooting Guide</button></p>
            </div>
            <img src="{% static 'images/sleep.svg' %}" style="opacity: 30%" class="col-md-6 offset-md-1 d-none d-md-block img-fluid float-right"/>
  
          </div>

        <img id="stream-{{obj.id}}" class="img-fluid">
    </div>
  </div>
</div>
<script>
    const loading = document.querySelector('#stream-loading-{{obj.id}}');
  
    const video = document.querySelector('#stream-{{obj.id}}');
    
    const WS_URL = "{{ WS_BASE_URL }}/video/{{obj.serial}}/";
    const ws = new WebSocket(WS_URL);
  
    ws.onmessage = (msg) => {
      console.log(msg)
      video.src = "data:image/png;base64," + msg.data
      loading.style.display = 'none';
    }
    ws.onopen = () => {
      console.log(`Connected to ${WS_URL}`);
    }
</script>