{% load humanize %}
<div class="row">
    <div class="col-12 d-flex align-items-stretch">
      <div class="card col-12">
        <div class="card-body">
            <h2 class="header-title">
              <i class="mdi mdi-printer-3d"></i> OctoPrint Devices
            </h2>
            {% if octoprint_devices.count > 0 %}
  
            <table class="table table-centered mb-0" id="dashboard-octoprint-devices">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Monitoring Active</th>

                      <th>Printer Status</th>
                      <!-- <th>Job Status</th> -->
        
                      <th>File</th>
                      <th>Progress</th>

                      <th>Remote Control</th>
                      <th>Metadata</th>

                      <th>OctoPrint Version</th>
                      <th>Print Nanny Version</th>
  
  
                  </tr>
              </thead>
              <tbody>
  
  
  
                {% for device in octoprint_devices %}
                <tr>
                    <td><h3><span class="badge badge-light">{{device.name}}</span></h3></td>
                    <!-- <td>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-lg bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td> -->
                    <td><i class="mdi mdi-circle {{device.monitoring_active_css_class}}"></i> {{device.monitoring_active}}</td>

                    <td><i class="mdi mdi-circle {{device.printer_state_css_class}}"></i> {{device.printer_state}}</td>
                    <!-- <td><i class="mdi mdi-circle {{device.print_job_status_css_class}}"></i> {{device.print_job_status}}</td> -->

                    <td>{{device.last_session.octoprint_job.file.name}}</td>
                    <td>{%if device.last_session.print_progress %}{{device.last_session.print_progress}}% {% endif %}</td>


                    <td><a href="{% url 'dashboard:octoprint-devices:detail' pk=device.id %}"><button class="btn btn-primary">Manage Device</button></a></td>
                    <td>
                      <button class="btn btn-primary" data-toggle="modal" data-target="#octoprint-device-metadata-modal-{{device.id}}">View Metadata</button>
                        <!--  Modal content for the Large example -->
                        <div class="modal fade" id="octoprint-device-metadata-modal-{{device.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h4 class="modal-title">{{device.name}} Metadata</h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  </div>
                                  <div class="modal-body">
                                      <pre>{{device.to_json}}</pre>
                                  </div>
                              </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>

                    <td>{{device.octoprint_version}}</td>
                    <td>{{device.plugin_version}}</td>

                </tr>
              {% endfor %}
  
              </tbody>
          </table>
  
          {% else %}
          <p>You haven't registered any OctoPrint Devices yet. Please follow <a href="{{ HELP_OCTOPRINT_PLUGIN_SETUP }}" target="_blank">this guide</a> to install the OctoPrint Nanny plugin and register your device.</p>
          {% endif %}
        </div>
      </div>
    </div>
  
  </div>
  