{% load humanize %}
{% load static %}

<div class="row">
    <div class="col-12 d-flex align-items-stretch">
      <div class="card col-12">
        <div class="card-body">
            <p class="header-title">
              <i class="mdi mdi-printer-3d"></i>OctoPrint Backups
            </p>
            {% if octoprint_backups.count > 0 %}
            <table class="table table-centered mb-0" id="dashboard-octoprint-devices">
              <thead>
                  <tr>
                      <th>Hostname</th>
                      <th>Backup Name</th>
                      <th>Date</th>
                      <th>OctoPrint Version</th>      
                      <th>Download</th>
                  </tr>
              </thead>
              <tbody>
                {% for backup in octoprint_backups %}
              <tr>
                <td><span class="badge badge-light">{{backup.hostname}}</span>
                </td>
                <td>{{backup.name}}</td>
                <td>{{backup.date | naturaltime }}</td>
                <td>{{backup.octoprint_version}}</td>
                <td>Download</td>

              </tr>
            {% endfor %}
              </tbody>
            </table>
          {% else %}
          <p>No backups found! Upload an OctoPrint backup to get started.</p>
          <div class="col-12 col-md-8">
            <img class="img-fluid" src="{% static 'images/octoprint-backup-example.png' %}">
          </div>
          {% endif %}
        </div>
      </div>
    </div>
</div>
  