{% load humanize %}
<div class="card">
    <div class="card-body">
        <h2 class="header-title">
        <i class="mdi mdi-printer-3d"></i> System Tasks & Commands
        </h2>
        <table class="table table-centered mb-4 mt-4" id="dashboard-raspberry-pis">
            <thead>
                <tr>
                    <th>Task Status</th>
                    <th>Last Update</th>

                </tr>
            </thead>
            <tbody>
            
            {% for task in object_list %}

            <tr>
                <td>
                    {% include "partials/task-status-badge.html" %}
                </td>
                <td>{{ task.last_status.created_dt | naturaltime }}</td>
            </tr>
            {% endfor %}

            </tbody>
            <tfoot>
                <p>Click/tap <strong class="text-primary"><i class="mdi mdi-open-in-new"></i> highlighted links</strong> or 
                    <span class="badge badge-primary"> <i class="mdi mdi-information"></i></span> to see more information.
                <strong>Refresh the page to see latest status.</strong></p>
                {% if is_paginated %}
                    TODO include pagination footer
                {% endif %}
            </tfoot>
        </table>
    </div>
</div>
