{% load humanize %}
<div class="card">
    <div class="card-body">
        <h2 class="header-title">
        <i class="mdi mdi-printer-3d"></i> System Tasks & Commands
        </h2>
        <table class="table table-centered mb-4 mt-4" id="dashboard-raspberry-pis">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Status</th>
                    <th>Last Update</th>

                </tr>
            </thead>
            <tbody>
            
            {% for task in object_list %}

            <tr>
                <td>{{ task.get_task_type_display }}</td>
                <td>
                    <a 
                    data-toggle="popover" 
                    data-placement="right" 
                    title="Task: {{ task.get_task_type_display }}" 
                    {% if task.last_status.wiki_url %}
                    data-content="{{ task.last_status.msg }} <br><a target='_blank' href='{{ task.last_status.wiki_url}'>Get more info</a>"
                    {% else %} 
                    data-content="{{ task.last_status.get_status_display }}" 
                    {% endif %}
                    data-html="true"
                    class="badge badge-{{ task.last_status.css_class }}"
                    >
                    <i class="mdi mdi-information"></i>
                    {{ device.last_task.last_status.status | capfirst }}

                    </a>
                </td>
                <td>{{ object.created_dt | naturaltime }}</td>
            </tr>
            {% endfor %}

            </tbody>
            <tfoot>
                <p>Click/tap <strong class="text-primary"><i class="mdi mdi-open-in-new"></i> highlighted links</strong> or 
                    <span class="badge badge-primary"> <i class="mdi mdi-information"></i></span> to see more information.
                <strong>Refresh the page to see latest status.</strong></p>
                {% if is_paginated %}
                    TODO include pagination footer
                {% endif %}
            </tfoot>
        </table>
    </div>
</div>
