<div class="card">
    <div class="card-body">
        <h2 class="header-title">
        <i class="mdi mdi-printer-3d"></i> System Tasks
        </h2>
        <table class="table table-centered mb-4 mt-4" id="dashboard-raspberry-pis">
            <p>Tasks run on your Print Nanny device.</p>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            
            {% for task in object_list %}

            <tr>
                <td>{{ device.last_system_task.get_type_display }}</td>
                <td>
                    <a 
                    data-toggle="popover" 
                    data-placement="right" 
                    title="Task: {{ device.last_system_task.get_type_display }}" 
                    {% if device.last_system_task.wiki_url %}
                    data-content="{{ device.last_system_task.msg }} <br><a target='_blank' href='{{ device.last_system_task.wiki_url }}'>Get more info</a>"
                    {% else %} 
                    data-content="{{ device.last_system_task.get_status_display }} <br> <a href='{% url 'devices:detail' pk=device.id %}'>See device details</a>" 
                    {% endif %}
                    data-html="true"
                    class="badge badge-{{ device.last_system_task.status_css_class }}"
                    >
                    <i class="mdi mdi-information"></i>
                    {{ device.last_system_task.get_status_display }}

                    </a>
                </td>
            </tr>
            {% endfor %}

            </tbody>
            <tfoot>
                <p>Click/tap <strong class="text-primary"><i class="mdi mdi-open-in-new"></i> highlighted links</strong> or 
                    <span class="badge badge-primary"> <i class="mdi mdi-information"></i></span> to see more information.</p>
                {% if is_paginated %}
                    TODO include pagination footer
                {% endif %}
            </tfoot>
        </table>
    </div>
</div>
