<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
<meta content="Coderthemes" name="author" />

<!--TODO: changes-->
<!--<link href="/scss/icons.css" rel="stylesheet" type="text/css" />-->
<!--<link href="/scss/app.css" rel="stylesheet" type="text/css" id="light-style" />-->
<!--<link href="/scss/app-dark.css" rel="stylesheet" type="text/css" id="dark-style" />-->

