{% load static i18n %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block head_title %}{% endblock head_title %} | Print Nanny</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta content="{% block meta_description %}Automatic failure detection and quality monitoring for 3D printers. Control your printer from anywhere. Works with OctoPrint.{% endblock meta_description %}" name="description" />


        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦾</text></svg>">

        <!-- IE -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
        <!-- other browsers -->
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />

        {% block css %}

            <!-- Your stuff: Third-party CSS libraries go here -->
            <!-- This file stores project-specific CSS -->
            <!-- App css -->
            <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
            <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" id="light-style" />
            <link href="{% static 'css/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style" disabled />

            <!-- for creative demo uncomment these lines and comment above -->
            <!-- <link href="{% static 'css/app-creative.min.css' %}" rel="stylesheet" type="text/css" id="light-style" />
            <link href="{% static 'css/app-creative-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style" disabled /> -->

            <!-- for modern demo uncomment these lines and comment above -->
            <!-- <link href="{% static 'css/app-modern.min.css' %}" rel="stylesheet" type="text/css" id="light-style" />
            <link href="{% static 'css/app-modern-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style" disabled /> -->


        {% endblock %}

        {% block extra_css %}
        {% endblock %}

    </head>

    <body {% block body_extra %}{% endblock %} >
        {% block page_content %}{% endblock %}
    </body>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
        <!-- bundle -->
        <script src="{% static 'js/vendor.min.js' %}"></script>
        <script src="{% static 'js/app.min.js' %}"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        {% if not DEBUG %}

        <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS }}"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', "{{ GOOGLE_ANALYTICS }}");
        </script>
        {% endif %}

    {% endblock javascript %}

    <!-- extra javascripts -->

    {% block extra_javascript %}

    {% endblock %}
</html>
