<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="header-title mb-3">Setup Print Nanny OS</h4>
                <!-- <p>🚀 The preflight checks below will show you how to use Print Nanny. Click/tap <strong
                        class="text-primary"><i class="mdi mdi-open-in-new"></i> highlighted links</strong> or
                    <span class="badge badge-secondary"> <i class="mdi mdi-information"></i> status indicators</span> to
                    see more information.
                </p> -->

                <!--- vue component here -->
                <span class="welcome-wizard-app">
                    <welcome-wizard gettingStartedUrl="{{ HELP_GETTING_STARTED }}" />
                </span>

            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>