{% load static i18n humanize %}

<div class="col-sm-12 col-md-6">
    <div class="card">
        <div class="card-header">
            <strong>{{ device.hostname }}</strong>

            <a target="_blank" href="{% url 'devices:settings' pk=device.settings.id %}"
                class="btn btn-primary btn-sm ml-1 float-right">Settings</a>
            <a target="_blank" href="{{ device.urls.octoprint }}"
                class="btn btn-success btn-sm ml-1 float-right">OctoPrint</a>
        </div>
        {% include "device-cloud-video.html" %}
    </div>
</div>