{% load static i18n humanize %}

<div class="col-sm-12 col-md-6">
    <div class="card">
        <div class="card-header">
            <strong>{{ device.hostname }}</strong>

            <a target="_blank" href="{{ device.urls.edge_dash }}" class="btn btn-light btn-sm ml-1 float-right">Pi
                Dashboard</a>

        </div>

        <div class="card-body">
            {% if not device.is_active %}
            <p>Waiting for first boot. </p>
            <p>Follow the directions in the <a href="{{ DOCS_SITE__QUICKSTART }}">Install
                    Guide</a> to finish setup.
            </p>
            {% else %}
            {% include "device-system-info.html" %}
            {% include "device-cloud-video.html" %}
            {% endif %}
        </div>

        <div class="card-footer">
            {% if not device.is_active %}
            <a class="btn btn-primary btn-sm" href="{% url 'devices:config-download' pk=device.id %}">Download
                License</a>
            {% else %}
            {% if device.is_octoprint %}
            <a target="_blank" href="{{ device.urls.octoprint }}" class="btn btn-success btn-sm ml-1">OctoPrint</a>
            {% endif %}
            {% endif %}
            <a href="{% url 'devices:delete' pk=device.id %}"><button
                    class="btn btn-danger btn-sm ml-1 float-right">Delete</button></a>
        </div>
    </div>
</div>

{% block extra_javascript %}
{% load render_bundle from webpack_loader %}
{% render_bundle 'janusStream' %}
{% endblock %}