{% extends "dashboard/base.html" %}
{% load static humanize %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">
                                {{ object.device.hostname}}</a>
                        </li>
                        <li class="breadcrumb-item active">Settings</li>
                    </ol>
                </div>
                <h3 class="page-title d-inline-flex">PrintNanny Cloud Cameras</h3>
            </div>
        </div>
    </div>

    <div class="row">
        {% if object_list.count > 0 %}
        {% for device in object_list %}
        {% include "device-card-partial.html" %}
        {% endfor %}
        {% else %}

        {% include 'partials/devices-quickstart' %}
        {% endif %}

    </div>
</div>
{% endblock content %}