<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="header-title mb-3">Setup Print Nanny OS</h4>
                <!-- <p>🚀 The preflight checks below will show you how to use Print Nanny. Click/tap <strong
                        class="text-primary"><i class="mdi mdi-open-in-new"></i> highlighted links</strong> or
                    <span class="badge badge-secondary"> <i class="mdi mdi-information"></i> status indicators</span> to
                    see more information.
                </p> -->

                <!--- vue component here -->
                <span class="welcome-wizard-app">
                    <welcome-wizard gettingStartedUrl="{{ HELP_GETTING_STARTED }}" />
                </span>


                <hr>

                <!--- this is the example / demo form stypes-->
                <form>
                    <div id="progressbarwizard">

                        <ul class="nav nav-pills nav-justified form-wizard-header mb-3">
                            <li class="nav-item">
                                <a href="#account-2" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2 active">
                                    <i class="mdi mdi-account-circle mr-1"></i>
                                    <span class="d-none d-sm-inline">Account</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#profile-tab-2" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                    <i class="mdi mdi-face-profile mr-1"></i>
                                    <span class="d-none d-sm-inline">Profile</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#finish-2" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                    <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                    <span class="d-none d-sm-inline">Finish</span>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content b-0 mb-0">

                            <div id="bar" class="progress mb-3" style="height: 7px;">
                                <div class="bar progress-bar progress-bar-striped progress-bar-animated bg-success">
                                </div>
                            </div>

                            <div class="tab-pane active" id="account-2">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="userName1">User name</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="userName1" name="userName1"
                                                    value="hyper">
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="password1"> Password</label>
                                            <div class="col-md-9">
                                                <input type="password" id="password1" name="password1"
                                                    class="form-control" value="123456789">
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="confirm1">Re Password</label>
                                            <div class="col-md-9">
                                                <input type="password" id="confirm1" name="confirm1"
                                                    class="form-control" value="123456789">
                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>

                            <div class="tab-pane" id="profile-tab-2">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="name1"> First name</label>
                                            <div class="col-md-9">
                                                <input type="text" id="name1" name="name1" class="form-control"
                                                    value="Francis">
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="surname1"> Last name</label>
                                            <div class="col-md-9">
                                                <input type="text" id="surname1" name="surname1" class="form-control"
                                                    value="Brinkman">
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="email1">Email</label>
                                            <div class="col-md-9">
                                                <input type="email" id="email1" name="email1" class="form-control"
                                                    value="cory1979@hotmail.com">
                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>

                            <div class="tab-pane" id="finish-2">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="text-center">
                                            <h2 class="mt-0"><i class="mdi mdi-check-all"></i></h2>
                                            <h3 class="mt-0">Thank you !</h3>

                                            <p class="w-75 mb-2 mx-auto">Quisque nec turpis at urna dictum luctus.
                                                Suspendisse convallis dignissim eros at volutpat. In egestas mattis dui.
                                                Aliquam
                                                mattis dictum aliquet.</p>

                                            <div class="mb-3">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="customCheck3">
                                                    <label class="custom-control-label" for="customCheck3">I agree with
                                                        the Terms and Conditions</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>

                            <ul class="list-inline mb-0 wizard">
                                <li class="previous list-inline-item disabled">
                                    <a href="#" class="btn btn-info">Previous</a>
                                </li>
                                <li class="next list-inline-item float-right">
                                    <a href="#" class="btn btn-info">Next</a>
                                </li>
                            </ul>

                        </div> <!-- tab-content -->
                    </div> <!-- end #progressbarwizard-->
                </form>

            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>