{% load static i18n %}


<!-- project card -->
<div class="card d-block">
    <div class="card-body">
        <div class="dropdown card-widgets">
            <a href="#" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                <i class="dripicons-dots-3"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-pencil mr-1"></i>Edit</a>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-delete mr-1"></i>Delete</a>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-email-outline mr-1"></i>Invite</a>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-exit-to-app mr-1"></i>Leave</a>
            </div>
        </div>
        <!-- project title-->
        <h4 class="mt-0">
            <a href="apps-projects-details.html" class="text-title">{{title}}</a>
        </h4>

        {% if status and status == 'Finished' %}
            <div class="badge badge-success mb-3">{{status}}</div>
        {% endif %}
        {% if status and status == 'Ongoing' %}
            <div class="badge badge-secondary mb-3">{{status}}</div>
        {% endif %}

        {% if status and status == 'Planned' %}
            <div class="badge badge-info mb-3">{{status}}</div>
        {% endif %}

        <p class="text-muted font-13 mb-3">{{description}}<a href="javascript:void(0);" class="font-weight-bold text-muted">view more</a>
        </p>

        <!-- project detail-->
        <p class="mb-1">
            <span class="pr-2 text-nowrap mb-2 d-inline-block">
                <i class="mdi mdi-format-list-bulleted-type text-muted"></i>
                <b>{{noTasks}}</b> Tasks
            </span>
            <span class="text-nowrap mb-2 d-inline-block">
                <i class="mdi mdi-comment-multiple-outline text-muted"></i>
                <b>{{noComments}}</b> Comments
            </span>
        </p>
        <div>
            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mat Helme" class="d-inline-block">
                <img src="{{friendsAvatar1}}" class="rounded-circle avatar-xs" alt="friend">
            </a>
            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Michael Zenaty" class="d-inline-block">
                <img src="{{friendsAvatar2}}" class="rounded-circle avatar-xs" alt="friend">
            </a>
            {% if friendsAvatar3 %}
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="James Anderson" class="d-inline-block">
                    <img src="{{friendsAvatar3}}" class="rounded-circle avatar-xs" alt="friend">
                </a>
            {% endif %}
            
            {% if moreFriends > 0 %}               
                <a href="javascript:void(0);" class="d-inline-block text-muted font-weight-bold ml-2">
                    +{{moreFriends}} more
                </a>
            {% endif %}

        </div>
    </div> <!-- end card-body-->
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-3">
            <!-- project progress-->
            <p class="mb-2 font-weight-bold">Progress <span class="float-right">{{progress}}%</span></p>
            <div class="progress progress-sm">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
                </div><!-- /.progress-bar -->
            </div><!-- /.progress -->
        </li>
    </ul>
</div> <!-- end card-->