{% extends "vertical_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_extra %}OctoPrint Backups{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Home</a></li>
                      
                        <li class="breadcrumb-item active">My Files</li>
                    </ol>
                </div>
                <h3 class="page-title d-inline-flex">OctoPrint Backups</h3>
            </div>
        </div>
    </div>
    {% include "partials/octoprint-devices-backup.html" %}
</div>
{% endblock content %}