{% extends "vertical_base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}User: {{ object.email }}{% endblock %}

{% block content %}
<div class="container-fluid">

{% if object == request.user %}
<!-- Action buttons -->
<div class="row mt-3">

  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <h2 class="header-title">User Settings</h2>

        <form>
          <label class="my-1 mr-2" for="token">API Token</label>
          <p class="text-muted font-14">
            Your API token is used to connect OctoPrint to Print Nanny. Treat this token like a password; do not share or publish it online. 
          </p>
            <div class="input-group">
              <input id="token" type="password" class="form-control"
                  value="{{ object.token }}" id="copy-input" readonly>
              <div class="input-group-append" data-password="false">
              <div class="input-group-text">
                  <span class="password-eye"></span>
              </div>
              </div>
            </div>
        </form>

        <h2 class="header-title mt-3">Notification Settings</h2>

        <form method="POST">

          {% csrf_token %}
          {{ forms.user_settings | crispy }}

          <button name="action" value="user_settings" type="submit" class="btn btn-lg btn-primary">Save</button> 

        </form>

        
      </div>
    </div> 
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-body">
          <h2 class="header-title">Livestream</h2>

          <div id="stream-loading">
            <p>Your web camera stream is either buffering or offline.</p>
            <img src="{% static 'images/loading.svg' %}" class="img-responsive" />

          </div>
          {% if object.printerprofile_set.count == 0 %}
            <p class="text-muted font-14">OctoPrint Disconnected</p>
            <p>Hey! Your OctoPrint installation wasn't found.</p>
            <!-- <p>Is this your first time using Print Nanny? Follow these this guide to get setup: </p> -->

          {% else %}
          {% endif %}
          <img id="stream" class="img-responsive">
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-12">
    <div class="card">
      <div class="card-body">
          <h2 class="header-title">
            Recent Alerts
          </h2>
            <p class="text-muted font-14">
              You'll receive email notifications at <strong>{{ object.email }}</strong>.
            </p>

          {% if object.AlertVideoMessage_set.count == 0 %}
          {% comment %}
            Need help getting started? Run <a href="{% url 'dashboard:demo' %}">the demo</a> to see what Print Nanny can do. </p>
          {% endcomment %}
            {% else %}
          {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-12">
    <div class="card">
      <div class="card-body">
          <h2 class="header-title">
            Upload Timelapse Video
          </h2>
            <p class="text-muted font-14">
              Test Print Nanny's detection algorithm against any timelapse video.
            </p>

            <!-- File Upload -->
            <form enctype="multipart/form-data" method="post">
              {% csrf_token %}
              {{ forms.upload | crispy }}

              <button class="btn btn-primary" name="action" value="upload" type="submit">Analyze Video</button>
            </form>
      </div>
    </div>
  </div>
</div>



<!-- End Action buttons -->
{% endif %}


</div>

<!-- plugin js -->
<script src="{% static 'js/vendor/dropzone.min.js' %}"></script>
<!-- init js -->
<script src="{% static 'js/ui/component.fileupload.js' %}"></script>
<script>
  const loading = document.querySelector('#stream-loading');

  const video = document.querySelector('#stream');
  
  const WS_URL = "{{ WS_BASE_URL }}/video/";
  const ws = new WebSocket(WS_URL);

  ws.onmessage = (msg) => {
    video.src = "data:image/png;base64," + msg.data
    loading.style.display = 'none';
  }
  ws.onopen = () => {
    console.log(`Connected to ${WS_URL}`);
  }
</script>

{% endblock content %}

