{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid">

{% if user == request.user %}
<div class="row mt-3">
  <div class="col-12 col-lg-6 d-flex align-items-stretch">
    <div class="card col-12">
      <div class="card-body">
          <h2 class="header-title">
            Recent Alerts
          </h2>
            <p class="text-muted font-14">
              Sending email notifications to <strong>{{ user.email }}</strong>.
            </p>

          {% if recent_alerts.count == 0 %}
            <p class="font-14">
              You're all caught up! Unread alerts will appear here.
            </p>          
          {% endif %}
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 d-flex align-items-stretch">
    <div class="card col-12">
      <div class="card-body">
        <h2 class="header-title">User Settings</h2>

        <form>
          <label class="my-1 mr-2" for="token">API Token</label>
          <p class="text-muted font-14">
            Your API token is used to connect OctoPrint to Print Nanny. Treat this token like a password; do not share or publish it online. 
          </p>
            <div class="input-group">
              <input id="token" type="password" class="form-control"
                  value="{{ user.token }}" id="copy-input" readonly>
              <div class="input-group-append" data-password="false">
              <div class="input-group-text">
                  <span class="password-eye"></span>
              </div>
              </div>
            </div>
        </form>

        <h2 class="header-title mt-3">Notification Settings</h2>

        <form method="POST">

          {% csrf_token %}
          {{ forms.user_settings | crispy }}

          <button name="action" value="user_settings" type="submit" class="btn btn-lg btn-primary">Save</button> 

        </form>

        
      </div>
    </div> 
  </div>

</div>
  
{% include "partials/octoprint-devices-short-list.html" %}

<div class="row">

{% for object in octoprint_devices %}
  {% include "partials/livestream.html" %}
{% endfor %}
<!-- End Action buttons -->
{% endif %}
</div>

</div>

<!-- plugin js -->
<!-- init js -->


{% endblock content %}