{% extends "vertical_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block blocktitle %}{{object.name}}{% endblock %}

{% block content %}
<div class="container-fluid">
        
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                      
                        <li class="breadcrumb-item active">Devices</li>
                        <li class="breadcrumb-item active">{{ object.name }}</li>
                    </ol>
                </div>
                <h2 class="page-title">Remote Control <span class="badge badge-light">{{object.name}}</span></span></h2>
            </div>
        </div>
    </div>  

    <div class="row">

        <div class="col-12 col-md-6 d-flex align-items-stretch">

            <div class="card">
                <div class="card-body">
                    <h4>
                        <i class="mdi mdi-printer-3d"></i><strong> Status</strong>
                    </h4>
                    <dl class="row">
        
        
                        <dt class="col-sm-3">Print Job Status</dt>
                        <dd class="col-sm-9"><i class="mdi mdi-circle {{object.print_job_status_css_class}}"></i> {{object.print_job_status}}</dd>

                        <dt class="col-sm-3">Monitoring Active</dt>
                        <dd class="col-sm-9"><i class="mdi mdi-circle {{object.monitoring_active_css_class}}"></i> {{object.monitoring_active}}</dd>

                        <dt class="col-sm-3">Last Telemetry</dt>
                        <dd class="col-sm-9">{{ object.cloudiot_device_status.lastEventTime }}</dd>

                        <dt class="col-sm-3">Last Heartbeat</dt>
                        <dd class="col-sm-9">{{ object.cloudiot_device_status.lastHeartbeatTime }}</dd>
                    </dl>

                    <h4>
                        <i class="mdi mdi-source-branch"></i> <strong>Version Info</strong>
                    </h4>
                    <dl class="row">
                        <dt class="col-sm-3">Device Config Version</dt>
                        <dd class="col-sm-9">{{ object.cloudiot_device_status.config.version  }}</dd>
                        <dt class="col-sm-3">Last Config Applied</dt>
                        <dd class="col-sm-9">{{ object.cloudiot_device_status.config.cloudUpdateTime }}</dd>
                        <dt class="col-sm-3">OctoPrint Version</dt>
                        <dd class="col-sm-9">{{object.octoprint_version}}</dd>
                        <dt class="col-sm-3">Print Nanny Version</dt>
                        <dd class="col-sm-9">{{object.plugin_version}}</dd>
                        <dt class="col-sm-3">Python & Pip Version</dt>
                        <dd class="col-sm-9">{{object.python_version}} (pip {{object.pip_version}})</dd>
                    </dl>

                    <h4>
                        <i class="mdi mdi-memory"></i> <strong>Hardware Info</strong>
                    </h4>
                    <dl class="row">
        
                        <dt class="col-sm-3">Platform</dt>
                        <dd class="col-sm-9">{{object.platform}})</dd>

                        <dt class="col-sm-3">Raspberry Pi Model</dt>
                        <dd class="col-sm-9">{{object.model}}</dd>

                        <dt class="col-sm-3">Hardware Version & Revision</dt>
                        <dd class="col-sm-9">{{object.hardware}} {{object.revision}}</dd>

                        <dt class="col-sm-3">Serial Number</dt>
                        <dd class="col-sm-9">{{object.serial}}</dd>

                        <dt class="col-sm-3">CPU Cores</dt>
                        <dd class="col-sm-9">{{object.cores}}</dd>

                        <dt class="col-sm-3">Total RAM</dt>
                        <dd class="col-sm-9">{{object.ram}} (bytes)</dd>
                    </dl>

                    <h4>
                        <i class="mdi mdi-lock-check"></i> <strong>Security & Identity</strong>
                    </h4>
                    <dt class="col-sm-3">Fingerprint</dt>
                    <dd class="col-sm-8">{{object.fingerprint}}</dd>

                </div>
            </div>  
        </div>
        {% include "partials/livestream.html" %}
 
    </div>

    <div class="row">

        <div class="col-12 col-md-3 align-items-stretch">
            <div class="card">
                <div class="card-body">
                    <h2 class="header-title">
                        <i class="mdi mdi-globe-model"></i><strong>Send Command to {{object.name}}</strong>
                    </h2>

                    {% include 'form/remote-control.html' %}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-8 align-items-stretch">
            {% include 'partials/remote-control-commands-list.html' %}
        </div>
    </div>
</div>
{% endblock content %}