{% extends "vertical_base.html" %}
{% load static i18n %}

{% block head_title %}{% trans "Starter Page" %}{% endblock head_title %}
{% block extra_css %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock extra_css %}


{% block content %}
<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>

                        <li class="breadcrumb-item active">Report Cards</li>
                        <li class="breadcrumb-item active">{{ object.original_filename }}</li>
                    </ol>
                </div>
                <h4 class="page-title">Quality Report: {{ object.original_filename }}</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="header-title">About</h2>
                    <p>PrintNanny's AI uses <a href="https://arxiv.org/abs/1512.02325">single-shot multibox detector</a>
                        (a type of neural network)
                        to track various aspects of your print.
                    </p>
                    <p>
                        This computer vision technique can detect multiple "classes" (or "labels") in one pass over
                        image data,
                        which makes it ideal for real-time applications like autonomous driving, smart security cameras,
                        and quality assurance systems like PrintNanny.
                    </p>
                    <h2 class="header-title">I have a question!</h2>

                    <p>
                        <a class="discord" href="https://discord.gg/sf23bk2hPr/">Join us on Discord</a> to ask a
                        question,
                        or check out the <a href="/#faq">FAQs.</a>
                    </p>
                    <p>
                        Would you like to learn more about the science and engineering behind PrintNanny? <a
                            href="www.bitsy.ai/tag/print-nanny/">Check out the development blog.</a>
                    </p>
                    <h2 class="header-title">Feedback</h2>
                    <p>Your feedback helps PrintNanny learn new failure modes and support a wider variety of 3D
                        printers. Let us know how these results look to you.</p>

                    <p>
                        <button class="btn btn-lg btn-success">👍 Upvote Results</button>
                        <button class="btn btn-lg btn-danger">👎 Downvote Results</button>
                        <a class="discord" href="{{DISCORD_URL}}">
                            <button class="btn btn-lg btn-primary">🤔 Ask a Question</button>
                        </a>

                    </p>
                    <p>
                    </p>

                </div>

            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="header-title">Annotated Video</h2>

                    <div class="card-img-top embed-responsive embed-responsive-16by9">
                        <video id="report-card-video" class="embed-responsive-item" controls>
                            <source src="{{ object.annotated_video.url }}" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">

        {% for plot in object.alertplot_set.all %}

        <div class="col-12">
            <div class="card">
                <div class="embed-responsive embed-responsive-21by9">

                    <iframe class="embed-responsive-item" src="{{plot.html.url}}"></iframe>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>


</div> <!-- container -->
{% endblock %}