{% extends "vertical_base.html" %}
{% load static i18n crispy_forms_tags %}
{% load humanize %}

{% block head_title %}{% trans "Timelapse Videos" %}{% endblock head_title %}


{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">
        
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                          
                            <li class="breadcrumb-item active">Timelapse Videos</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Timelapse Videos</h4>
                </div>
            </div>
        </div>     
        <!-- end page title -->

          <!-- done cards -->
          <div class="row">
            <div class="col-12">
                {% include 'devices/partials/plugin-deprecation.html' %}
            </div>
          </div>
          {% if alerts.count > 0 %}
                    <!-- videos -->
                    <div class="row">
                
                      {% for obj in alerts %}
                    
                        <!-- card wrapper -->
                        <div class="card col-sm-12 col-lg-6">
                            <!-- critical failure detected -->
                            
                            <div class="card-body">
                                <h4 class="card-title">Finished {{obj.created_dt | naturaltime }}</h4>
                                <!-- {% if not obj.seen %}
                                    <span class="badge badge-danger">NEW REPORT</span>
                                {% endif %} -->
                                <dl class="row mb-0">
            
            
                                    <dt class="col-sm-3">Filename</dt>
                                    <dd class="col-sm-9">{{obj.print_session.gcode_filename}}</dd>
                                    <dt class="col-sm-3">Duration</dt>
                                    <dd class="col-sm-9">{{obj.print_session.duration }}</dd>
                                    <dt class="col-sm-3">Device</dt>
                                    <dd class="col-sm-9">{{obj.octoprint_device.name}}</dd>
                                    <dt class="col-sm-3">Session</dt>
                                    <dd class="col-sm-9">{{obj.print_session.session}}</dd>
                                </dl>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <video class="embed-responsive-item" controls>
                                    <source src="{{ obj.annotated_video.url }}" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                            <div class="card-footer">
                                {% include "form/needs_review.html" %}
        
                            </div>
                        </div>
                    
                        {% endfor %}
                    </div>
        {% endif %}



    </div> <!-- container -->
{% endblock %}



