{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Dashboard</a></li>

                        <li class="breadcrumb-item active">Notification Settings</li>
                    </ol>
                </div>
                <h3 class="page-title">Notification Settings</h4>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-12 col-md-6">
            <div class="card">

                <div class="card-body">
                    <div class="card-title">
                        <h4 class="page-title">Event Subscriptions</h4>
                        <p>Choose the events you would like to receive</p>
                    </div>
                    <div class="form-group">
                        <form method="post" id="alert-event-settings">
                            {% csrf_token %}
                            {{ forms.event_settings | crispy }}
                            <button type="submit" name="action" value="event_settings" class="btn btn-primary">Save</button>
                        </form>

                    </div>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <div class="card-title">
                        <h4 class="page-title">Discord Bot Settings</h4>
                        <p>Configure the Discord notification bot</p>
                    </div>
                    <div class="form-group">
                        <form method="post" id="discord-method-settings">
                            {% csrf_token %}
                            {{ forms.discord | crispy }}
                            <button type="submit"  name="action" value="discord" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <div class="card-title">
                        <h4 class="page-title">3D Geeks Settings</h4>
                    </div>
                    <div class="form-group">
                        {% for token in tokens %}
                            <h4>{{ token.octoprint_device.name }}</h4>

                            <div class="input-group">
                                <input id="token-{{ token.octoprint_device.name }}" type="password" class="form-control" value="{{ token.key }}" readonly>
                                <div class="input-group-append" data-password="false">
                                    <div class="input-group-text">
                                        <span class="password-eye"></span>
                                    </div>
                                </div>
                            </div>

                            <img id="token-{{ token.octoprint_device.name }}-qrcode" />
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">

                <div class="card-body">
                    <div class="card-title">
                        <h4 class="page-title">Remote Control Commands</h4>
                        <p>Receive status updates for <strong>remote device commands</strong>.</p>
                    </div>
                    <div class="form-group">
                        <form method="post" id="command-alert-settings">
                            {% csrf_token %}
                            {{ forms.command | crispy }}
                            <button type="submit"  name="action" value="command" class="btn btn-primary">Save</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_javascript %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js" integrity="sha512-pUhApVQtLbnpLtJn6DuzDD5o2xtmLJnJ7oBoMsBnzOkVkpqofGLGPaBJ6ayD2zQe3lCgCibhJBi4cj5wAxwVKA==" crossorigin="anonymous"></script>

{% for token in tokens %}
    <script>
        (function() {
            var qr = new QRious({
            element: document.getElementById('token-{{ token.octoprint_device.name }}-qrcode'),
            value: '{{ token.key }}'
            });
        })();
    </script>
{% endfor %}
{% endblock %}
