{% load static %}

<div class="col-12 col-md-6 ribbon-box  bg-light">
    <div class="ribbon ribbon-primary float-left">
        <h4><strong>🎨 Mix and match any printer software.</strong></h4>
    </div>
    <div class="ribbon-content">
        <p><strong>Compatible with:
                <ul>
                    <li>OctoPrint</li>
                    <li>Moonraker API (Mainsail, Fluidd)</li>
                </ul>
            </strong>
        </p>
        <p>Email <a href="mailto:leigh@printnanny.ai">leigh@printnanny.ai</a> to request a new platform.</p>

        </p>
    </div>


    <div class="ribbon ribbon-primary float-left">
        <h4><strong>💜 One easy install with PrintNanny OS</strong></h4>
    </div>
    <div class="ribbon-content">
        <p>
            Designed by a <strong>Raspberry Pi devotee</strong>, for Raspberry Pi lovers worldwide.
            <img class="img-fluid" src="{% static 'images/rpi-imager-printnanny-os.png'%}" />
            <small class="text-muted text-center">Raspberry Pi is a trademark of Raspberry Pi Trading.</small>
        </p>
    </div>

    <div class="ribbon ribbon-primary float-left">
        <h4>🔐 <strong>Secure remote access.</strong></h4>
    </div>

    <div class="ribbon-content">
        <p>Battle-tested <a href="https://www.wireguard.com/">WireGuard</a> VPN tunnel. <strong>Easy setup and
                white-glove support.</strong>
        </p>
        <p>Seamless connection between mobile, home, workspace, and warehouse.</p>
    </div>

    <div class="ribbon ribbon-primary float-left">
        <h4>📡 Site to site networking.</h4>
    </div>

    <div class="ribbon-content">
        <p><strong>Link multiple printer farms.</strong></p>
        <p>Real-time monitoring across all work sites.</p>
        <p><strong>Sync files</strong> across all of your devices.</p>
        <img class="img-fluid" src="{% static 'images/print-nanny-file-manager.png'%}" />

    </div>
    </p>
</div>