{% extends "vertical_base.html" %}
{% load static %}
{% load crispy_forms_tags feature_flags %}

{% block content %}
<div class="account-pages mt-2 mb-5">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">

                <div class="card-header primary-gradient pt-4 pb-4 mb-4 text-center bg-primary text-white">
                    <h1>Print Nanny Network</h1>
                    <h3>Manage your 3D printers from anywhere in the world
                    </h3>
                
                    {% if not user.is_paid_beta_tester %}
                    <a target="_blank" href="{% url 'subscriptions:checkout' %}" class="mt-2 mb-2 btn btn-lg btn-danger pull-left">Become a Founding Member</a>
                    <h3>{{ AVAILABLE_SUBSCRIPTIONS_COUNT }} spots left</h3>
                    {% endif %}

                </div>
                <div class="row">
                    <div class="col-12 ribbon-box col-md-6">
                        <div class="ribbon ribbon-primary float-left">
                            <h4 class="mb-2">Print Nanny OS + Network  <span class="badge badge-danger">Early Access</span></h4>
                        </div>
                        <div class="ribbon-content">
                           <h2 class="mb-4">Thank you for your interest!</h2>

                           {% if user.is_paid_beta_tester %}
                           <a target="_blank" href="{% url 'subscriptions:checkout' %}" class="mt-2 mb-2 btn btn-lg btn-light pull-left">Become a Founding Member</a>
                           <h3>Founding Members like you help me make Print Nanny truly excellent! 💜</h3>
                           {% else %}
                           <h3>Your input helps me make Print Nanny truly excellent! 💜</h3>
                           {% endif %}

                           <p>I'll reach out over email if you're a fit Print Nanny's Network feature. </p>

                           {% if not user.is_paid_beta_tester %}
                           <h3 class="mt-4">Looking for immediate access to Print Nanny?</h3>
                           <h3>{{ AVAILABLE_SUBSCRIPTIONS_COUNT }} spots left</h3>
                           <p>Founding Members get <strong>early access to Print Nanny at a discount</strong> plus exclusive swag.</p>
                           <p>I open a <strong>limited number of spots</strong> (typically 10) each month, so I can provide <strong>white glove support</strong>.</p>
                           <p>Click <a href="{% url 'subscriptions:checkout' %}">Become a Founding Member</a> to learn more.</p>
                           <a target="_blank" href="{% url 'subscriptions:checkout' %}" class="mt-2 mb-2 btn btn-lg btn-danger">Become a Founding Member to Get Early Access</a>

                           {% endif %}
                        </div>
                    </div>
                    {% include 'surveys/remote-access-sidebar.html'%}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
