{% extends "vertical_base.html" %}
{% load static i18n %}

{% block head_title %}{% trans "Apex Bubble Charts" %}{% endblock head_title %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">
        
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Apex</a></li>
                            <li class="breadcrumb-item active">Bubble Charts</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Bubble Charts</h4>
                </div>
            </div>
        </div>     
        <!-- end page title --> 

        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Simple Bubble Chart</h4>
                        <div id="simple-bubble" class="apex-charts" data-colors="#727cf5,#ffbc00,#fa5c7c"></div>
                    </div>
                    <!-- end card body-->
                </div>
                <!-- end card -->
            </div>
            <!-- end col-->

            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">3D Bubble Chart</h4>
                        <div id="second-bubble" class="apex-charts" data-colors="#727cf5,#0acf97,#fa5c7c,#39afd1"></div>
                    </div>
                    <!-- end card body-->
                </div>
                <!-- end card -->
            </div>
            <!-- end col-->
        </div>
        <!-- end row-->
        
    </div> 
    <!-- container -->
{% endblock %}

{% block extra_javascript %}

    <!-- third party js -->
    <script src="{% static 'js/vendor/apexcharts.min.js' %}"></script>
    <!-- third party js ends -->

    <!-- demo app -->
            <script src="{% static 'js/pages/demo.apex-bubble.js' %}"></script>
    <!-- end demo js-->

{% endblock %}