{% extends "vertical_base.html" %}
{% load static i18n %}

{% block head_title %}{% trans "Apex RadialBar Charts" %}{% endblock head_title %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">
        
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Apex</a></li>
                            <li class="breadcrumb-item active">RadialBar Charts</li>
                        </ol>
                    </div>
                    <h4 class="page-title">RadialBar Charts</h4>
                </div>
            </div>
        </div>     
        <!-- end page title --> 

        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-4">Basic RadialBar Chart</h4>
                        <div id="basic-radialbar" class="apex-charts" data-colors="#39afd1"></div>
                    </div>
                    <!-- end card body-->
                </div>
                <!-- end card -->
            </div>
            <!-- end col-->

            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-4">Multiple RadialBars</h4>
                        <div id="multiple-radialbar" class="apex-charts" data-colors="#6c757d,#ffbc00,#727cf5,#0acf97"></div>
                    </div>
                    <!-- end card body-->
                </div>
                <!-- end card -->
            </div>
            <!-- end col-->
        </div>
        <!-- end row-->
        
        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-4">Circle Chart - Custom Angle</h4>
                        <div class="text-center">
                            <div id="circle-angle-radial" class="apex-charts" data-colors="#0acf97,#727cf5,#fa5c7c,#ffbc00"></div>
                        </div>
                    </div>
                    <!-- end card body-->
                </div>
                <!-- end card -->
            </div>
            <!-- end col-->

            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-4">Circle Chart with Image</h4>
                        <div id="image-radial" class="apex-charts"></div>
                    </div>
                    <!-- end card body-->
                </div>
                <!-- end card -->
            </div>
            <!-- end col-->
        </div>
        <!-- end row-->

        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-4">Stroked Circular Guage</h4>
                        <div id="stroked-guage-radial" class="apex-charts" data-colors="#727cf5"></div>
                    </div>
                    <!-- end card body-->
                </div>
                <!-- end card -->
            </div>
            <!-- end col-->

            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-4">Gradient Circular Chart</h4>
                        <div id="gradient-chart" class="apex-charts" data-colors="#8f75da,#727cf5"></div>
                    </div>
                    <!-- end card body-->
                </div>
                <!-- end card -->
            </div>
            <!-- end col-->
        </div>
        <!-- end row-->

    </div> <!-- container -->
{% endblock %}

{% block extra_javascript %}

    <!-- third party js -->
    <script src="{% static 'js/vendor/apexcharts.min.js' %}"></script>
    <!-- third party js ends -->

    <!-- demo app -->
        <script src="{% static 'js/pages/demo.apex-radialbar.js' %}"></script>
    <!-- end demo js-->

{% endblock %}