---
kind: ConfigMap 
apiVersion: v1 
metadata:
  name: "ara-config"
data:
  ARA_DATABASE_ENGINE: django.db.backends.postgresql
  ARA_DATABASE_NAME: ara
  # throwaway database
  ARA_DATABASE_HOST: "{{ POSTGRES_HOST }}"
  ARA_DATABASE_USER: "{{ POSTGRES_USER }}"
  ARA_DATABASE_PASSWORD: "{{ POSTGRES_USER }}"
  ARA_DATABASE_PORT: "5432"
  ARA_WRITE_LOGIN_REQUIRED: "False"
  ARA_READ_LOGIN_REQUIRED: "True"
  ARA_ALLOWED_HOSTS: "['ara.print-nanny.com']"
  DJANGO_SUPERUSER_PASSWORD: "{{ DJANGO_SUPERUSER_PASSWORD }}"
  DJANGO_SUPERUSER_EMAIL: "{{ DJANGO_SUPERUSER_EMAIL }}"