---
kind: ConfigMap
apiVersion: v1
metadata:
  name: "webapp"
data:
  CELERY_FLOWER_PASSWORD: "{{ CELERY_FLOWER_PASSWORD }}"
  CELERY_FLOWER_USER: "{{ CELERY_FLOWER_USER }}"
  COTURN_DATABASE_URL: "{{ COTURN_DATABASE_URL }}"
  COTURN_REALM: "stun.print-nanny.com"
  COTURN_SECRET_KEY: "{{ COTURN_SECRET_KEY }}"
  DATABASE_URL: "{{ DATABASE_URL }}"
  DISCORD_TOKEN: "{{ DISCORD_TOKEN }}"
  DJANGO_ADMIN_URL: "{{ DJANGO_ADMIN_URL }}"
  DJANGO_ACCOUNT_ALLOW_REGISTRATION: "False"
  DJANGO_ALLOWED_HOSTS: ".print-nanny.com"
  DJANGO_GCP_STORAGE_BUCKET_NAME: "print-nanny-prod"
  DJANGO_SECRET_KEY: "{{ DJANGO_SECRET_KEY }}"
  DJANGO_SECURE_SSL_REDIRECT: "False"
  DJANGO_SETTINGS_MODULE: "config.settings.production"
  DJANGO_SUPERUSER_EMAIL: "{{ DJANGO_SUPERUSER_EMAIL }}"
  DJANGO_SUPERUSER_PASSWORD: "{{ DJANGO_SUPERUSER_PASSWORD }}"
  DJANGO_SUPERUSER_USERNAME: "{{ DJANGO_SUPERUSER_USERNAME }}"
  DJSTRIPE_WEBHOOK_SECRET: "{{ DJSTRIPE_WEBHOOK_SECRET }}"
  HONEYCOMB_API_KEY: "{{ HONEYCOMB_API_KEY }}"
  HONEYCOMB_DATASET: "print_nanny_webapp_prod"
  MAILGUN_API_KEY: "{{ MAILGUN_API_KEY }}"
  MAILGUN_API_URL: "https://api.mailgun.net/v3"
  MAILGUN_DOMAIN: "{{ MAILGUN_DOMAIN }}"
  POSTGRES_DB: "print_nanny_restore"
  POSTGRES_HOST: "127.0.0.1"
  POSTGRES_PASSWORD: "{{ POSTGRES_PASSWORD }}"
  POSTGRES_PORT: "5432"
  POSTGRES_USER: "{{ POSTGRES_USER }}"
  POSTHOG_API_KEY: "{{ POSTHOG_API_KEY }}"
  PRINTNANNY_BASE_URL: "{{ PRINTNANNY_BASE_URL }}"
  PRINT_NANNY_STATIC_URL: "{{ PRINT_NANNY_STATIC_URL }}"
  PRINT_NANNY_URL: "{{ PRINT_NANNY_URL }}"
  PRINT_NANNY_WS_URL: "{{ PRINT_NANNY_WS_URL }}"
  REDIS_URL: "redis://10.57.80.187:6379/0"
  CELERY_BROKER_URL: "redis://10.57.80.187:6379/0"
  STRIPE_LIVE_PUBLIC_KEY: "{{ STRIPE_PUBLIC_KEY }}"
  STRIPE_LIVE_SECRET_KEY: "{{ STRIPE_SECRET_KEY }}"
  STRIPE_STRIPE_ENABLE_SUBSCRIPTIONS: "True"
  WEB_CONCURRENCY: "4"
  GHOST_ADMIN_API_KEY: "{{ GHOST_ADMIN_API_KEY }}"
  GHOST_CONTENT_API_KEY: "{{ GHOST_CONTENT_API_KEY }}"
  GCP_PROJECT_ID: "print-nanny"
  LOGLEVEL: "info"
  # GOOGLE_APPLICATION_CREDENTIALS: "/etc/service-account/print-nanny-f296cdb68802.json"
  