<table class="table table-centered table-striped table-borderless mb-0">
    <thead>
        <tr>
            <th>Print Nanny OS Feature</th>
            <th>Base Edition</th>
            <th>OctoPrint Edition</th>
            <th>Mainsail Edition</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Real-time Print Monitoring & Failure Detection</td>
            <td>✅</td>
            <td>✅</td>
            <td>🚧</td>

        </tr>
        <tr>
            <td>64-bit Supported</td>
            <td>✅</td>
            <td>✅</td>
            <td>🚧</td>

        </tr>
        <tr>
            <td>30 FPS @ 720p High-Quality Video Stream</td>
            <td>✅</td>
            <td>✅</td>
            <td>🚧</td>

        </tr>
        <tr>
            <td>Full "desktop" image with GUI. Add a mouse, keyboard, or touchscreen to create a portable workstation.</td>
            <td>✅</td>
            <td>✅</td>
            <td>🚧</td>

        </tr>
        <tr>
            <td>Minimal "slim" image. Created with older devices in mind.</td>
            <td>✅</td>
            <td>✅</td>
            <td>🚧</td>

        </tr>
        <tr>
            <td> Preinstalled Printer Controller</td>
            <td></td>
            <td>✅</td>
            <td>🚧</td>
        </tr>
        <tr>
            <td>Network Tunnel & Secure Remote Access</td>
            <td>🚧</td>
            <td>🚧</td>
            <td>🚧</td>
        </tr>
        <tr>
            <td>File Sync & Automatic Backups</td>
            <td>🚧</td>
            <td>🚧</td>
            <td>🚧</td>
        </tr>
    </tbody>
</table>