<table class="table table-centered table-striped table-borderless mb-0">
    <thead>
        <tr>
            <th>Print Nanny OS Feature</th>
            <th>Slim</th>
            <th>Desktop</th>
            <th>OctoPrint</th>
            <th>Mainsail</th>
            <th>Repetier</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Real-time Print Monitoring & Failure Detection</td>
            <td>✅</td>
            <td>✅</td>
            <td>✅</td>
            <td>🚧</td>
            <td>🚧</td>

        </tr>
        <tr>
            <td>64-bit Supported</td>
            <td>✅</td>
            <td>✅</td>
            <td>✅</td>
            <td>🚧</td>
            <td>🚧</td>

        </tr>
        <tr>
            <td>30 FPS @ 720p High-Quality Video Stream</td>
            <td>✅</td>
            <td>✅</td>
            <td>✅</td>
            <td>🚧</td>
            <td>🚧</td>

        </tr>
        <tr>
            <td>Graphic User Interface (GUI)</td>
            <td></td>
            <td>✅</td>
            <td>✅</td>
            <td>🚧</td>
            <td>🚧</td>

        </tr>
        <tr>
            <td> Preinstalled Printer Controller</td>
            <td></td>
            <td></td>
            <td>✅</td>
            <td>🚧</td>
            <td>🚧</td>
        </tr>
        <tr>
            <td>Network Tunnel & Secure Remote Access</td>
            <td>🚧</td>
            <td>🚧</td>
            <td>🚧</td>
            <td>🚧</td>
            <td>🚧</td>
        </tr>
        <tr>
            <td>File Sync & Automatic Backups</td>
            <td>🚧</td>
            <td>🚧</td>
            <td>🚧</td>
            <td>🚧</td>
            <td>🚧</td>
        </tr>
    </tbody>
</table>