{% extends "base.html" %}
{% load static i18n %}

{% block head_title %}Automatic failure detection for 3D printers{% endblock head_title %}

{% block page_content %}

        <!-- NAVBAR START -->
        <nav class="navbar navbar-expand-lg py-lg-3 navbar-dark">
            <div class="container">

                <!-- logo -->
                <a href="{% url 'dashboard:home' %}" class="navbar-brand mr-lg-5">
                    <img src="{% static 'images/logo-text-white.svg' %}" alt="" class="logo-dark" height="18" />
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>

                <!-- menus -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    <!-- left menu -->
                    <ul class="navbar-nav mr-auto align-items-center">
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link active" href="">Home</a>
                        </li>
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="#live-monitoring">Live Monitoring</a>
                        </li>
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="#remote-management">Remote Management</a>
                        </li>
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="#automation">Automation</a>
                        </li>
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="#faq">FAQs</a>
                        </li>
                        <!-- <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="">Clients</a>
                        </li>
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="">Contact</a>
                        </li> -->
                    </ul>

                    <!-- right menu -->
                    <ul class="navbar-nav ml-auto align-items-center">
                        <!-- <li class="nav-item mr-1">
                            {% comment %} <a href="{% url 'request-invite' %}" class="nav-link d-lg-none">Register</a> {% endcomment %}
                            <a href="#" class="nav-link d-lg-none">Register</a>
                            {% comment %} <a href="{% url 'request-invite' %}" class="btn btn-sm btn-light btn-rounded d-none d-lg-inline-flex"> {% endcomment %}
                            <a href="{% url 'request-invite' %}" class="btn btn-sm btn-light btn-rounded d-none d-lg-inline-flex">
                                Register
                            </a>
                        </li> -->
                        <li class="nav-item mr-0">
                            {% comment %} <a href="{% url 'account_login' %}" class="nav-link d-lg-none">Login</a> {% endcomment %}
                            <a href="#" class="nav-link d-lg-none">Login</a>
                            {% comment %} <a href="{% url 'account_login' %}" class="btn btn-sm btn-light btn-rounded d-none d-lg-inline-flex"> {% endcomment %}
                            <a href="{% url 'account_login' %}" class="btn btn-sm btn-light btn-rounded d-none d-lg-inline-flex">
                                <i class="mdi mdi-login mr-2"></i> Login
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!-- NAVBAR END -->

        <!-- START HERO -->
        <section class="hero-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="mt-md-2">
                            <h1 class="text-white hero-title">
                                Stop Babysitting your 3D Printer
                            </h1>
                            <h4 class="text-white">
                                Are you still wasting time, fretting over your prints?
                            </h4>
                            <h4 class="text-white">
                                Hire a nanny instead. 👶
                            </h4>

                            <h3 class="text-white mb-4 mt-4">
                                Get notified of print defects 🔔
                            </h3>
                            <h3 class="text-white mb-4 mt-4">
                                Pause from anywhere 🌎
                            </h3>
                            <h3 class="text-white mb-4 mt-4">
                                Automate shipping & post-processing 🦾
                            </h3>
                    
                            <a href="{% url 'request-invite' %}" target="_blank" class="btn btn-success btn-lg"><strong class="h1">Get Early Access</strong></a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-md-right mt-3 mt-md-0">
                            {% include 'partials/demo-carousel.html' %}

                            <!-- <img src="{% static 'images/logo-square-white.svg' %}" alt="" class="img-fluid" /> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END HERO -->

        <!-- START SERVICES -->
        <!-- END SERVICES -->

        <!-- START FEATURES 1 -->
        <!-- END FEATURES 1 -->

        <!-- START FEATURES 2 -->
        <section class="py-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h1 class="mt-2"><i class="mdi mdi-heart-multiple-outline"></i></h1>
                            <h3>Spend <span class="text-primary">less time</span> fretting over your prints</h3>

                            <h3>Automatic <span class="text-danger">safety hazard</span> and <span class="text-success">print quality</span> alerts</h3>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 py-5 align-items-center">
                    <div class="col-lg-5">
                        <div class="card-img-top embed-responsive embed-responsive-16by9">

                        <video id="report-card-video" class="embed-responsive-item" controls>
                            <source src="{% static 'images/detection-demo.mp4' %}" type="video/mp4">
                        </video>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <h1 id="live-monitoring">🔮 Live Monitoring </h1>
                        <p class="lead col-lg-7 text-muted">
                        Print Nanny will <strong class="text-primary">watch your job</strong>, so you can focus on other things. <br>
                        
                        </p>

                        <p class="lead col-lg-7 text-muted"> You'll be <strong class="text-primary">automatically notified</strong> of common issues:
                        </p>
                        <div>
                            <p class="h2 py-1"><i class="mdi mdi-circle-medium text-primary"></i>Print bed adhesion and layer warping</p>
                            <p class="h2 py-1"><i class="mdi mdi-circle-medium text-primary"></i>Blisters, zits, and retraction issues</p>
                            <p class="h2 py-1"><i class="mdi mdi-circle-medium text-primary"></i>Low filament supply<p>
                            <p class="h2 py-1"><i class="mdi mdi-circle-medium text-primary"></i>Clogged print nozzle<p>


                        </div>
                        <a href="{% url 'request-invite' %}" class="btn btn-primary btn-lg btn-rounded mt-3">Sign up for Beta<i class="mdi mdi-arrow-right ml-1"></i></a>

                    </div>
                </div>

                <div class="row pb-3 pt-2 align-items-center">
                    <div class="col-lg-4 offset-lg-1">
                        <h1 id="remote-management">🌏 Remote Control</h1>

                        <p class="lead text-muted"">Need <strong class="text-primary">more control?</strong><br>
                        Print Nanny lets you manage your <strong>3D printer from anywhere.</strong>
                        </p>

                        <div>
                            <p class="h2 py-1"><i class="mdi mdi-circle-medium text-primary"></i>Pause, resume, stop prints</p>
                            <p class="h2 py-1"><i class="mdi mdi-circle-medium text-primary"></i>No bandwidth limits</p>
                            <p class="h2 py-1"><i class="mdi mdi-circle-medium text-primary"></i>Re-order low filament</p>

                            <a href="{% url 'request-invite' %}" class="btn btn-primary btn-lg btn-rounded mt-3">Request Beta invite<i class="mdi mdi-arrow-right ml-1"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'images/dashboard-demo.png' %}">
                    </div>
                </div>

                <div class="row pb-3 pt-5 align-items-center">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'images/demo-workflow.png' %}">
                    </div>
                    <div class="col-lg-4 offset-lg-1">
                        <h1 id="automation">🦾 Automated Workflows<h1>

                        <p class="lead text-muted"">Are you <strong>wasting time</strong> on routine tasks, like <strong class="text-primary">watermarking your timelapse videos</strong> videos or  <strong class="text-primary">updating your in-stock products by hand?</strong></p>

                        <div>
                            <p class="h2 py-1"><i class="mdi mdi-circle-medium text-primary"></i>Point and click workflow builder</p>
                            <p class="h2 py-1"><i class="mdi mdi-circle-medium text-primary"></i>2,000+ no-code tasks via 
                                <a href="https://zapier.com/">Zapier</a> and <a href="https://ifttt.com/">IFTTT</a>.
                            
                            </p>

                            <p class="h2 py-1"><i class="mdi mdi-circle-medium text-primary"></i>Developer API (Swagger) and Webhooks</p>
                            <p class="h2 py-1"><i class="mdi mdi-circle-medium text-primary"></i>Easy Raspberry Pi installation</p>
                            <a href="{% url 'request-invite' %}" class="btn btn-primary btn-lg btn-rounded mt-3">Sign up for Beta<i class="mdi mdi-arrow-right ml-1"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    

        <!-- START FAQ -->
        <section class="py-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h1 id="faq" class="mt-0"><i class="mdi mdi-frequently-asked-questions"></i></h1>
                            <h3>Frequently Asked <span class="text-primary">Questions</span></h3>

                            <p class="text-muted mt-2">Do you have a question about Print Nanny?</p>
                            <a  target="_blank"  id="discord-faq" href="{{DISCORD_URL}}">
                                <button target="_blank" href="{{DISCORD_URL}}" type="button" class="discord btn btn-primary btn-sm mt-2 ml-1"><i class="mdi mdi-discord mr-1"></i> Ask on Discord</button>
    
                            </a>
                            <a target="_blank" href="mailto:hi@print-nanny.com">
                                <button  type="button" class="btn btn-success btn-sm mt-2"><i class="mdi mdi-email-outline mr-1"></i> Email us your question</button>
    
                            </a>
                            <a target="_blank" href="https://twitter.com/intent/tweet?text=Hey%20@grepLeigh%20-%20question%20about%20PrintNanny">
                                <button  type="button" class="btn btn-info btn-sm mt-2 ml-1"><i class="mdi mdi-twitter mr-1"></i> Send a tweet</button>
          
                            </a>
                            

                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-lg-5 offset-lg-1">
                        <!-- Question/Answer -->
                        <div>
                            <div class="faq-question-q-box">Q.</div>
                            <h4 class="faq-question text-body">How does Print Nanny work?</h4>
                            <p class="faq-answer mb-2 pb-1 text-muted">
                                The defect detection system uses a <a href="https://ai.googleblog.com/2019/11/introducing-next-generation-on-device.html">neural network</a> to monitor your printer's webcam stream. 
                                This state-of-the art <strong>computer vision model</strong> was developed at Google for use on mobile devices like the Pixel phone. 
                                A compression technique called <strong>quantization</strong> reduces the footprint of the model, enabling real-time performance entirely on-device - <strong>no internet connection required.</strong>
                            <p class="faq-answer mb-2 pb-1 text-muted">
                                Print Nanny's detector model is deployed to a Raspberry Pi, and integrates directly with <strong>OctoPrint </strong> for printer control. 
                                We engineered this system with <strong>reliability </strong> in mind. A 3D printer is a <strong>hazardous home device,</strong> 
                                like a gas oven.
                                

                            </p>
                            <p class="faq-answer mb-2 pb-1 text-muted">
                                 You wouldn't trust a "smart" <strong>internet-connected stove</strong>, right? (please don't, see below for examples of what could happen 😬)
                                

                            </p>
                            <img class="faq-answer img-fluid col-sm-5 mb-4" src="{% static 'images/iot-tweet-1.png' %}">
                            <img class="img-fluid col-sm-5 mb-4" src="{% static 'images/iot-tweet-2.png' %}">



                        </div>

                        <!-- Question/Answer -->

                    </div>
                    <!--/col-lg-5 -->

                    <div class="col-lg-5">
                        <!-- Question/Answer -->
                        <div class="faq-question-q-box">Q.</div>
                        <h4 class="faq-question text-body">Can you hurry up and invite me already?</h4>
                        <p class="faq-answer text-muted">
                            Working on it! Print Nanny is currently in a closed beta, so we can work directly with early adoptors. 
                            These folks don't mind a few rough edges or bugs, 
                            and they tend to be <strong>entrepeneurial</strong> themselves (e.g. running a tableshop miniature shop from their garage or <a target="_blank" href="https://www.youtube.com/channel/UCXRcs5H7Om8YbaNbaM5iOdg">managing a YouTube channel of satisfying timelapse videos</a>).
                            Does this sound like you?
                        </p>
                        <p class="faq-answer mb-4 pb-1 text-muted">
                            <a href="{% url 'request-invite' %}" class="btn btn-primary btn-rounded pt-1">Request an Invite<i class="mdi mdi-arrow-right ml-1"></i></a>
                        </p>
                        
                        <!-- Question/Answer -->
                        <!-- <div>
                            <div class="faq-question-q-box">Q.</div>
                            <h4 class="faq-question text-body">Wait, this service is not free?</h4>
                            <p class="faq-answer mb-2 pb-1 text-muted">Good AI isn't cheap. Our mission: build a dead-simple automation system which saves you so much <strong>time and money </strong> that you would be silly not to use it.</p>
                            <img class="faq-answer img-fluid col-sm-3 mb-4" src="{% static 'images/take-my-money.png' %}">

                        </div> -->
                        <div class="faq-question-q-box">Q.</div>
                        <h4 class="faq-question text-body">I tinker and print occasionally as a hobby. Is Print Nanny for me?</h4>
                        <p class="faq-answer mb-2 pb-1 text-muted">
                            Same, honestly. Print Nanny was <a target="_blank" href="https://docs.google.com/presentation/d/15ysQld_xVW7QMdos8lYc-5O3xUpQnxuYG_NNRe9hEZU/edit?usp=sharing">created 
                            by a tinker-maker type</a> who currently works at the intersection of <strong>Machine Learning</strong> and <strong>DevOps.</strong>

                        <p class="faq-answer mb-2 pb-1 text-muted">
                            3D printing, electronics, and prototyping are her hobbies - but <strong>hobbies should be fun!</strong>
                            <strong>Do you know what isn't fun?</strong> 
                            Stressing out about leaving a printer alone while you walk the dog (it's like leaving a gas oven on), 
                            or losing a 40-hour print that <strong> have been saved by intervention</strong> at the right time.
                        </p>
                        <div class="faq-question-q-box">Q.</div>
                        <h4 class="faq-question text-body">Will Print Nanny be Open Source?</h4>
                        <p class="faq-answer mb-2 pb-1 text-muted">
                            Yes! Source code and a self-guided development course will be published.
                        </p>
                        <p class="faq-answer mb-2 pb-1 text-muted">
                            You can also <a target="_blank" href="http://bitsy.ai/tag/print-nanny/">follow the development of Print Nanny on the Bitsy.ai blog, if you are curious about how a computer vision AI is built.</a> 
                        </p>
                        <!-- Question/Answer -->

                    </div>
                    <!--/col-lg-5-->
                </div>
                <!-- end row -->

            </div> <!-- end container-->
        </section>
        <!-- END FAQ -->
        <!-- START FOOTER -->
        <footer class="bg-dark py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="{% static 'images/logo-text-white.svg' %}" alt="" class="logo-dark" height="18" />
                        <p class="text-white-50 mt-4">Print Nanny was created by Leigh Johnson. Read more about her at <a href="https://www.bitsy.ai/about/">bitsy.ai</a>.</p>

                        <ul class="social-list list-inline mt-3">
                            <li class="list-inline-item text-center">
                                <a target="_blank" href="https://twitter.com/grepLeigh" class="social-list-item border-info text-info"><i class="uil uil-twitter"></i></a>
                            </li>
                            <li class="list-inline-item text-center">
                                <a  target="_blank"href="https://medium.com/@grepLeigh" class="social-list-item border-secondary text-secondary"><i class="uil uil-medium-m"></i></a>
                            </li>
                            <li class="list-inline-item text-center">
                                <a  target="_blank" href="https://github.com/bitsy-ai" class="social-list-item border-secondary text-secondary"><i class="uil uil-github"></i></a>
                            </li>
                        </ul>

                    </div>


                    <div class="col-lg-2 mt-3 mt-lg-0">
                        <h5 class="text-white">Features</h5>

                        <ul class="list-unstyled pl-0 mb-0 mt-3">
                            <li class="mt-2"><a href="#live-monitoring" class="text-white-50">Live Monitoring</a></li>
                            <li class="mt-2"><a href="#remote-management" class="text-white-50">Remote Management</a></li>
                            <li class="mt-2"><a href="#automation" class="text-white-50">Automation</a></li>
                            <li class="mt-2"><a href="#faq" class="text-white-50">FAQ</a></li>
                            <li class="mt-2"><a href="https://help.print-nanny.com/" class="text-white-50">Help</a></li>
                        </ul>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="mt-5">
                            <p a href="https://www.bitsy.ai/about/" class="text-white-50 mt-4 text-center mb-0">© 2021 Print Nanny, Bitsy AI Labs </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- END FOOTER -->

{% endblock %}