{% extends "account/base.html" %}

{% load static i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}
{% load crispy_forms_tags %}

{% block content %}
   <div class="account-pages mt-5 mb-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card">
            <!-- Logo -->
            <div class="card-header pt-4 pb-4 text-center bg-primary">
              <a href="/">
                <span><img src="{% static 'images/logo.png' %}" alt="" height="18"></span>
              </a>
            </div>

            <div class="card-body p-4">

              <div class="text-center w-75 m-auto">
                <h4 class="text-dark-50 text-center mt-0 font-weight-bold">
                  {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
                </h4>
              </div>

              {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
              {% else %}
                {% if form %}
                  <form method="POST" action="." novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="form-group mb-0 mt-2 text-left">
                      <input type="submit" class="btn btn-primary" name="action" value="{% trans 'Change Password' %}"/>
                    </div>

                  </form>
                {% else %}
                  <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
              {% endif %}

            </div> <!-- end card-body-->
          </div>
          <!-- end card -->

          <div class="row mt-3">
            <div class="col-12 text-center">
              <p class="text-muted">Back to <a href="{% url 'account_login' %}" class="text-muted"><b>Sign In</b></a>
              </p>
            </div> <!-- end col -->
          </div>
          <!-- end row -->

        </div> <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end page -->
{% endblock content %}

