{% extends "account/base.html" %}

{% load static i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}
{% load account %}

{% block content %}
    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                <div class="card">
                    <!-- Logo -->
                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                    <a href="/">
                        <span><img src="{% static 'images/logo.png' %}" alt="" height="18"></span>
                    </a>
                    </div>

                    <div class="card-body p-4">

                    <div class="text-center w-75 m-auto">
                        <h4 class="text-dark-50 text-center mt-0 font-weight-bold">{% trans "Password Reset" %}</h4>

                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}

                        <p class="text-muted mb-4">
                        {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few
                            minutes.{% endblocktrans %}
                        </p>
                    </div>
                    </div> <!-- end card-body-->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">{% trans "Back to" %} <a href="{% url 'account_login' %}" class="text-muted"><b>{% trans "Sign In" %}</b></a></p>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
{% endblock %}

