{% extends "vertical_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_extra %}Add Camera{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item"><a href="{% url 'devices:list' %}">Manage Raspberry Pis</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'devices:detail' pk=device.id %}">{{ device.hostname }}</a></li>

                        <li class="breadcrumb-item active">Add Camera</li>
                    </ol>
                </div>
                <h3 class="page-title d-inline-flex">Add Camera Connection</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 d-flex align-items-stretch">
          <div class="card col-12">
            <div class="card-body">
                <h2 class="header-title">
                    <i class="mdi mdi-printer-3d"></i> Enter Camera Details
                </h2>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ device.id }}" name="device_id">
                    {{form|crispy }}
                    <input type="submit" value="Save" class="btn btn-primary">
                </form>
            </div>

            <div class="card-footer">
                <div class="alert alert-info col-12" role="alert">
                    <h4 class="alert-heading"><i class="mdi mdi-warning"></i>Additional camera support coming soon!</h4>
                    <p>Print Nanny OS v1.0 supports print monitoring with the <a target="_blank" href="https://www.raspberrypi.com/products/camera-module-v2/"></a>Raspberry Pi Camera Module</a>. Watch the newsletter for USB, web, and multi-angle camera support.</p>

                    <p>
                    <a target="_blank" href="{{ DISCORD_URL }}"> Join Discord</a> or email <a href="mailto:leigh@print-nanny.com" target="_blank">
                        leigh@print-nanny.com</a> to request support for your camera.
                    <a target="_blank" href="https://www.raspberrypi.com/products/camera-module-v2/"></a>Raspberry Pi Camera Module</a>.</p>
                  </div>
            </div>
    </div>
  </div>
</div>
{% endblock content %}
