{% load humanize %}
<div class="row">
    <div class="col-12 d-flex align-items-stretch">
      <div class="card col-12">
        <div class="card-body">
          <h2 class="header-title">
            <i class="mdi mdi-printer-3d"></i> My Devices
              <a href="{% url 'devices:create' %}"><button class="btn btn-primary float-right">Register Raspberry Pi</button></a>

          </h2>
            {% if devices.count > 0 %}
            <table class="table table-centered mb-4 mt-4" id="dashboard-raspberry-pis">
              <thead>
                  <tr>
                      <th>Hostname (click to view details)</th>
                      <!-- <th>Monitoring Active</th> -->
                      <th>Current Task</th>

                      <th>Task Status</th>
                      <!-- <th>Job Status</th> -->
        
                      <!-- <th>File</th>
                      <th>Progress</th> -->
<!-- 
                      <th>Remote Control</th>
                      <th>Metadata</th> -->

                      <th>Download License</th>  
                      <th>Delete Device</th>  

                  </tr>
              </thead>
              <tbody>
  
                {% for device in devices %}
                <tr>
                    <td><h4><a href="{% url 'devices:detail' pk=device.id %}">{{device.hostname}}</a></h4></td>
                    <!-- <td>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-lg bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td> -->
                    <!-- <td><i class="mdi mdi-circle {{device.monitoring_active_css_class}}"></i> {{device.monitoring_active}}</td> -->
                    <td>{{ device.last_system_task.get_type_display }}</td>

                    <td>
                        <a data-toggle="tooltip" data-placement="left" title="{{ device.last_system_task.detail }}">
                          <span class="badge badge-{{ device.last_system_task.status_css_class }}">
                            {% if device.last_system_task.detail %}
                              <i class="mdi mdi-information"></i>
                            {% endif %}
                            {{ device.last_system_task.get_status_display }}     
                          </span>
                        </a>
                    </td>
                    <!-- <td><i class="mdi mdi-circle {{device.print_job_status_css_class}}"></i> {{device.print_job_status}}</td> -->

                    <!-- <td>{{device.active_session.octoprint_job.file.name}}</td>
                    <td>{%if device.active_session.print_progress %}{{device.active_session.print_progress}}% {% endif %}</td>
 -->

                    <!-- <td><a href="{% url 'devices:detail' pk=device.id %}"><button class="btn btn-primary">Manage Device</button></a></td> -->


                    <td><a href="{% url 'devices:license' pk=device.id %}" target="_blank"><button class="btn btn-primary">Download License</button></a></td>
                    <td><a href="{% url 'devices:delete' pk=device.id %}"><button class="btn btn-danger">Delete</button></a></td>


                </tr>
              {% endfor %}
  
              </tbody>
          </table>
  
          {% else %}
          <p>No Print Nanny devices detected. Click the <strong>Register Raspberry Pi</strong> button to get started.

          {% endif %}
        </div>
        <div class="card-footer">
          <p>Please reach out to <a href="mailto:leigh@print-nanny.com">leigh@print-nanny.com</a> if you run into any issues.</p>
          
          <p><span class="badge badge-danger">FYI</span> Raspberry Pi 3 and Pi Zero models are <strong>not supported</strong> at this time! Please check the <a href="{{ HELP_PRINTNANNY_COMPATIBLE }}" target="_blank">capatible devices</a> list to see if your Raspberry Pi is supported.</p>

        </div>
      </div>
    </div>
  
  </div>
  