{% extends "vertical_base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block blocktitle %}Raspberry Pis{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                      
                        <li class="breadcrumb-item active">Raspberry Pis</li>
                    </ol>
                </div>
                <h3 class="page-title d-inline-flex">Raspberry Pis</h3>
                {% include "partials/messages.html"%}
            </div>
        </div>
    </div>
    {% include "devices/devices-table.html" %}


</div>
{% endblock content %}