{% load humanize %}

<div class="row">
    {% for device in devices %}
      <div class="col-12 col-md-5 d-flex align-items-stretch">
        <div class="card col-12">
          <div class="card-body">
            <h2 class="header-title">
              <a href="{% url 'devices:detail' pk=device.id %}" target="_blank"><i class="mdi mdi-printer-3d"></i> {{device.hostname}}</a>
              
              <span class="float-right">{% include "partials/task-status-badge.html" with task=device.last_task %}</span>

            </h2>

            {% if not device.active_license %}
            <div class="alert alert-info col-12" role="alert">
              <h4 class="alert-heading"><i class="mdi mdi-warning"></i> Additional Setup Needed!</h4>
              <p>This device is not yet registered.</p>
              <p>Click/tap <a href="{% url 'devices:detail' pk=device.id %}" target="_blank"><i class="mdi mdi-printer-3d"></i> {{device.hostname}}</a>
              or use the <i class="mdi mdi-printer-3d"></i><strong> Manage</strong> button to download your license keys.</p>
                
              <p>Follow the instructions in <a href="{{ help.GETTING_STARTED }}" target="_blank"> Getting Started with Print Nanny OS</a> to finish installation.</p>
            </div>
            {% endif %}
          </div>
          <div class="card-footer">
            <a href="{% url 'devices:detail' pk=device.id %}" target="_blank">
              <button class="btn btn-primary btn-sm">
                <i class="mdi mdi-printer-3d"></i> Manage
              </button></a>
              
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="col-12 col-md-4 d-flex align-items-stretch">
      <div class="card col-12">
        <div class="card-body">
          <p>Click <strong>Add New Device</strong> to get started.</p>

          <h2 class="header-title">
            <!-- <i class="mdi mdi-printer-3d"></i> Register My Pi -->
              <a href="{% url 'devices:create' %}"><button class="btn btn-primary"><i class="mdi mdi-plus"></i>Add New Device</button></a>
          </h2>
          <p>Pi 3 and Pi Zero models are <strong>not supported</strong>! 
          View list of <a href="{{ HELP_PRINTNANNY_COMPATIBLE }}" target="_blank">capatible devices for details</a>.
          </p>
        </div>
        <!-- <div class="card-footer">           -->

        <!-- </div> -->
      </div>
    </div>
  
  </div>