<div class="col-12 text-center">
    <h1 class="text-center display-5">Easy Setup</h1>
    <h3 class="text-center mb-4">If setup takes more than 10 minutes, email <a href="mailto:leigh@print-nanny.com">leigh@print-nanny.com</a> to receive a FREE month of Print Nanny</h3>

</div>
<div class="row">
  <div class="col-12 col-md-6 d-flex align-items-stretch">
    <div class="card col-12">
      <div class="card-header"><h2>1️⃣ Install Print Nanny OS</h2></div>
      <div class="card-body text-center">
        <h4>Everything you need to setup Print Nanny</h4>

        <a target="_blank" class="btn btn-block btn-primary btn-lg mb-3 mt-3" href="{{ HELP_GETTING_STARTED }}"><i class="mdi mdi-plus"></i> Quick Installation Guide</a>
        <h4>Minimum Requirements</h4>
        <ul class="text-left">
          <li>Raspberry Pi 4. See <a href="{{ HELP_PRINTNANNY_COMPATIBLE }}" target="_blank">capatible devices</a></a>.</li>
          <li>Raspberry Pi Camera*</li>
          <li>SD Card. See <a href="{{ HELP_PRINTNANNY_COMPATIBLE }}" target="_blank">compatible SD cards</a>.</li>
        </ul>

        <p>* USB and IP camera support available on request.<br> Please email <a href="mailto:leigh@print-nanny.com">leigh@print-nanny.com</a> with your camera make/model.</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 d-flex align-items-stretch">
    <div class="card col-12">
      <div class="card-header"><h2>2️⃣ Link Raspberry Pi</h2></div>
      <div class="card-body text-center">
        {% if user.is_authenticated %}
        <h4 class="mb-3">Enter your Raspberry Pi's hostname</h4>
        <p>You must be connected to the same network for initial link.</p>
        <span class="network-scanner-app">
          <network-scanner />
        </span>

        {% else %}
        <h4>Please login to link your Raspberry Pi.</h4>
        <a target="_blank" class="btn btn-primary btn-lg btn-block mb-3 mt-3" href="{{ login_url }}}">Login</a>

        <h4>Looking for a Beta invite?</h4>
        <h4>Become a Founding Member to get early access.</h4>
        <a target="_blank" class="btn btn-danger btn-lg btn-block mb-3 mt-3" href="{{ login_url }}}">Become a Founding Member</a>

        {% endif %}
        <!-- <hr>
        <h4>While you wait...</h4>
        <h4>Check out the roadmap to see what's coming in 2022</h4>
        <a class="btn btn-light btn-primary" href="{{ROADMAP_URL}}">Open Roadmap</a>
        <hr>
        <h4>Join Discord to show off your latest prints</h4>
        <p>Send a 👋hello to Leigh to claim your <span class="badge badge-primary">Founding Member</span> badge.</p>
        <a class="btn btn-light btn-primary" href="{{DISCORD_URL}}">Join Discord.</a> -->
      </div>
    </div>
  </div>
</div>