---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ PRINTNANNY_NAMESPACE }}-printnanny-ai
  namespace: {{ PRINTNANNY_NAMESPACE }}
spec:
  secretName: {{ PRINTNANNY_NAMESPACE }}-printnanny-ai-tls
  issuerRef:
    name: letsencrypt-dns-issuer
  dnsNames:
  {% if PRINTNANNY_NAMESPACE == 'live' %}
  - printnanny.ai
  {% endif %}
  - {{ PRINTNANNY_NAMESPACE }}.printnanny.ai
  - '*.{{ PRINTNANNY_NAMESPACE }}.printnanny.ai'