---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: printnanny-ai-tls
  namespace: {{ PRINTNANNY_NAMESPACE }}
spec:
  secretName: printnanny-ai-tls
  issuerRef:
    name: letsencrypt-dns-issuer
    kind: ClusterIssuer
  dnsNames:
  {% if PRINTNANNY_NAMESPACE == 'live' %}
  - printnanny.ai
  - '*.printnanny.ai'
  - '*.live.printnanny.ai'
  {% else %}
  - {{ PRINTNANNY_NAMESPACE }}.printnanny.ai
  - '*.{{ PRINTNANNY_NAMESPACE }}.printnanny.ai'
  {% endif %}
{% if PRINTNANNY_NAMESPACE == 'live' %}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: printnanny-com-tls
  namespace: {{ PRINTNANNY_NAMESPACE }}
spec:
  secretName: printnanny-com-tls
  issuerRef:
    name: letsencrypt-dns-issuer
    kind: ClusterIssuer
  dnsNames:
  - print-nanny.com
  - '*.print-nanny.com'
{% endif %}