---
kind: ConfigMap
apiVersion: v1
metadata:
  name: webapp
  namespace: {{ PRINTNANNY_NAMESPACE }}
data:
  COTURN_DATABASE_URL: {{ COTURN_DATABASE_URL }}
  COTURN_REALM: {{ COTURN_REALM }}
  COTURN_SECRET_KEY: {{ COTURN_SECRET_KEY }}
  DATABASE_URL: {{ DJANGO_POSTGRES_URL }}
  DISCORD_TOKEN: {{ DISCORD_TOKEN }}
  DJANGO_ADMIN_URL: {{ DJANGO_ADMIN_URL }}
  DJANGO_ALLOWED_HOSTS: {{ DJANGO_ALLOWED_HOSTS }}
  DJANGO_GCP_STORAGE_BUCKET_NAME: {{ DJANGO_GCP_STORAGE_BUCKET_NAME }}
  DJANGO_SECRET_KEY: {{ DJANGO_SECRET_KEY }}
  DJANGO_SETTINGS_MODULE: {{ DJANGO_SETTINGS_MODULE }}
  DJSTRIPE_WEBHOOK_SECRET: {{ DJSTRIPE_WEBHOOK_SECRET }}
  GIT_SHA: {{ GIT_SHA }}
  GCP_PROJECT_ID: {{ GCP_PROJECT_ID }}
  GHOST_ADMIN_API_KEY: {{ GHOST_ADMIN_API_KEY }}
  GHOST_CONTENT_API_KEY: {{ GHOST_CONTENT_API_KEY }}
  HONEYCOMB_API_KEY: {{ HONEYCOMB_API_KEY }}
  HONEYCOMB_DATASET: {{ HONEYCOMB_DATASET }}
  JANUS_CLOUD_DOMAIN: {{ JANUS_CLOUD_DOMAIN }}
  JANUS_CLOUD_ADMIN_SECRET: {{ JANUS_CLOUD_ADMIN_SECRET }}
  JANUS_CLOUD_ADMIN_URL: {{ JANUS_CLOUD_ADMIN_URL }}
  JANUS_CLOUD_ADMIN_PORT: "{{ JANUS_CLOUD_ADMIN_PORT }}"
  JANUS_CLOUD_API_URL: {{ JANUS_CLOUD_API_URL }}
  JANUS_CLOUD_API_PORT: "{{ JANUS_CLOUD_API_PORT }}"
  JANUS_CLOUD_WS_URL: {{ JANUS_CLOUD_WS_URL }}
  JANUS_CLOUD_WS_PORT: "{{ JANUS_CLOUD_WS_PORT }}"
  JANUS_CLOUD_RTP_PORT_RANGE: "{{ JANUS_CLOUD_RTP_PORT_RANGE }}"
  LOGLEVEL: {{ LOGLEVEL }}
  MAILGUN_API_KEY: {{ MAILGUN_API_KEY }}
  MAILGUN_API_URL: {{ MAILGUN_API_URL }}
  MAILGUN_DOMAIN: {{ MAILGUN_DOMAIN }}
  POSTGRES_DB: {{ DJANGO_POSTGRES_DB }}
  POSTGRES_HOST: {{ DJANGO_POSTGRES_HOST }}
  POSTGRES_PASSWORD: {{ DJANGO_POSTGRES_PASSWORD }}
  POSTGRES_PORT: "{{ DJANGO_POSTGRES_PORT }}"
  POSTGRES_USER: {{ DJANGO_POSTGRES_USER }}
  REDIS_URL: {{ REDIS_URL }}
  WEB_CONCURRENCY: "4"
  {% if STRIPE_LIVE_SECRET_KEY is defined %}
  STRIPE_LIVE_SECRET_KEY: {{ STRIPE_LIVE_SECRET_KEY }}
  STRIPE_LIVE_PUBLIC_KEY: {{ STRIPE_LIVE_PUBLIC_KEY }}
  {% endif %}
  {% if STRIPE_TEST_SECRET_KEY is defined %}
  STRIPE_TEST_SECRET_KEY: {{ STRIPE_TEST_SECRET_KEY }}
  STRIPE_TEST_PUBLIC_KEY: {{ STRIPE_TEST_PUBLIC_KEY }}
  {% endif %}
  POSTHOG_API_KEY: {{ POSTHOG_API_KEY }}
