---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: "{{ PRINTNANNY_NAMESPACE }}"
  name: discord-redirect-nginx-conf
data:
  nginx.conf: |
    user nginx;
    worker_processes  3;
    error_log  /var/log/nginx/error.log;
    events {
      worker_connections  10240;
    }
    http {
      log_format  main
              'remote_addr:$remote_addr\t'
              'time_local:$time_local\t'
              'method:$request_method\t'
              'uri:$request_uri\t'
              'host:$host\t'
              'status:$status\t'
              'bytes_sent:$body_bytes_sent\t'
              'referer:$http_referer\t'
              'useragent:$http_user_agent\t'
              'forwardedfor:$http_x_forwarded_for\t'
              'request_time:$request_time';
      access_log	/var/log/nginx/access.log main;
      server {
          listen       80;
          server_name  _;
          location / {
            rewrite {{ DISCORD_INVITE_URL }} redirect;
          }
          location /healthz {
            return 200 'ok';
            add_header Content-Type text/plain;
          }
      }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: "{{ PRINTNANNY_NAMESPACE }}"
  name: discord-redirect
spec:
  replicas: 1
  selector:
    matchLabels:
      app: discord-redirect
  template:
    metadata:
      labels:
        app: discord-redirect
    spec:
      containers:
        - name: nginx
          image: nginx
          ports:
            - containerPort: 80
          volumeMounts:
            - mountPath: /etc/nginx # mount discord-redirect-nginx-conf volumn to /etc/nginx
              readOnly: true
              name:  discord-redirect
            - mountPath: /var/log/nginx
              name: log
          livenessProbe:
            httpGet:
              path: /healthz/
              port: 8000
            initialDelaySeconds: 60
            periodSeconds: 60
            timeoutSeconds: 3
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /healthz/
              port: 8000
            initialDelaySeconds: 60
            periodSeconds: 60
            timeoutSeconds: 3
            successThreshold: 1
            failureThreshold: 3
      volumes:
        - name: discord-redirect
          configMap:
            name: discord-redirect-nginx-conf # place ConfigMap `discord-redirect-nginx-conf` on /etc/nginx
            items:
              - key: nginx.conf
                path: nginx.conf
        - name: log
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  namespace: "{{ PRINTNANNY_NAMESPACE }}"
  name: discord-redirect
  labels:
    app: discord-redirect
spec:
  selector:
    app: discord-redirect
  type: NodePort
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
