---
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: {{ PRINTNANNY_NAMESPACE }}
  name: webapp
  annotations:
    iam.gke.io/gcp-service-account: webapp--{{ PRINTNANNY_NAMESPACE }}@{{ GCP_PROJECT }}.iam.gserviceaccount.com
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ PRINTNANNY_NAMESPACE }}
  name: django
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django
  template:
    metadata:
      labels:
        app: django
    spec:
      serviceAccountName: webapp
      containers:
      - name: django
        imagePullPolicy: Always
        image: {{ PRINTNANNY_DJANGO_IMAGE }}
        livenessProbe:
          httpGet:
            path: /health/
            port: 8000
          initialDelaySeconds: 60
          periodSeconds: 30
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 4
        readinessProbe:
          httpGet:
            path: /health/
            port: 8000
          initialDelaySeconds: 60
          periodSeconds: 30
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 4
        command:
          - /start
        envFrom:
          - configMapRef:
              name: webapp
      - name: cloud-sql-proxy
        # It is recommended to use the latest version of the Cloud SQL proxy
        # Make sure to update on a regular schedule!
        image: gcr.io/cloudsql-docker/gce-proxy:1.29.0
        command:
          - "/cloud_sql_proxy"
          - "-term_timeout=30s"
          - "-quiet"
          - "-verbose=false"
          # If connecting from a VPC-native GKE cluster, you can use the
          # following flag to have the proxy connect over private IP
          # - "-ip_address_types=PRIVATE"

          # Replace DB_PORT with the port the proxy should listen on
          # Defaults: MySQL: 3306, Postgres: 5432, SQLServer: 1433
          - "-instances={{ GCP_PROJECT }}:{{ GCP_REGION }}:{{ CLOUD_SQL_POSTGRES_INSTANCE }}=tcp:{{ POSTGRES_PORT }}"
        securityContext:
          # The default Cloud SQL proxy image runs as the
          # "nonroot" user and group (uid: 65532) by default.
          runAsNonRoot: true
        ports:
          - containerPort: {{ POSTGRES_PORT }}
---
apiVersion: cloud.google.com/v1beta1
kind: BackendConfig
metadata:
  namespace: {{ PRINTNANNY_NAMESPACE }}
  name: django-backendconfig
spec:
  timeoutSec: 1800
  connectionDraining:
    drainingTimeoutSec: 1800
  healthCheck:
    checkIntervalSec: 30
    port: 8000
    type: HTTP
    requestPath: /health/
  cdn:
    enabled: true
    cachePolicy:
      includeHost: true
      includeQueryString: false
---
apiVersion: v1
kind: Service
metadata:
  namespace: {{ PRINTNANNY_NAMESPACE }}
  name: django
  annotations:
    cloud.google.com/backend-config: '{"default": "django-backendconfig"}'
spec:
  selector:
    app: django
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: NodePort
