---
apiVersion: networking.gke.io/v1beta1
kind: FrontendConfig
metadata:
  namespace: {{ PRINTNANNY_NAMESPACE }}
  name: http-to-https
spec:
  redirectToHttps:
    enabled: true
    responseCodeName: MOVED_PERMANENTLY_DEFAULT
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: {{ PRINTNANNY_NAMESPACE }}
  name: printnanny-{{ PRINTNANNY_NAMESPACE }}
  annotations:
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: letsencrypt-dns-issuer
    certmanager.k8s.io/acme-challenge-type: "dns01"
    kubernetes.io/ingress.global-static-ip-name: "printnanny-static-ip--{{ PRINTNANNY_NAMESPACE }}"
    networking.gke.io/v1beta1.FrontendConfig: "http-to-https"
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  tls:
  - hosts:
      {% if PRINTNANNY_NAMESPACE == 'live' %}
      - printnanny.ai
      {% endif %}
      - {{ PRINTNANNY_NAMESPACE }}.printnanny.ai
    secretName: printnanny-ai-tls
  rules:
    # live www and api
    {% if PRINTNANNY_NAMESPACE == 'live' %}
    - host: printnanny.ai
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: django
                port:
                  number: 80
    {% endif %}
    - host: {{ PRINTNANNY_NAMESPACE }}.printnanny.ai
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: django
                port:
                  number: 80
    - host: www.{{ PRINTNANNY_NAMESPACE }}.printnanny.ai
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: django
                port:
                  number: 80
