{% if PRINTNANNY_NAMESPACE == 'live' %}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: metabase
  namespace: {{ PRINTNANNY_NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: metabase
  template:
    metadata:
      labels:
        app: metabase
    spec:
      serviceAccountName: webapp
      containers:
      - name: cloud-sql-proxy
        image: gcr.io/cloudsql-docker/gce-proxy:1.29.0
        command:
          - "/cloud_sql_proxy"
          - "-instances=print-nanny:us-central1:print-nanny=tcp:5432"
        securityContext:
          runAsNonRoot: true
        ports:
          - containerPort: 5432
      - image: metabase/metabase
        name: metabase
        envFrom:
          - configMapRef:
              name: webapp
          - configMapRef:
              name: metabase
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 60
          periodSeconds: 15
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 4
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 60
          periodSeconds: 15
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 4
---
apiVersion: v1
kind: Service
metadata:
  namespace: {{ PRINTNANNY_NAMESPACE }}
  name: metabase
  labels:
    app: metabase
spec:
  selector:
    app: metabase
  type: NodePort
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
---
kind: ConfigMap 
apiVersion: v1 
metadata:
  namespace: {{ PRINTNANNY_NAMESPACE }}
  name: metabase
data:
  MB_DB_TYPE: "postgres"
  MB_DB_DBNAME: "{{ METABASE_DB_NAME }}"
  MB_DB_PORT: "5432"
  MB_DB_USER: "{{ METABASE_DB_USER }}"
  MB_DB_PASS: "{{ METABASE_DB_PASS }}"
  MB_DB_HOST: "127.0.0.1"
{% endif %}