{% extends "vertical_base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title_extra %}Print Nanny OS - Releases{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="display-3">Print Nanny OS</h1>
                    <p class="lead">Connect your menagerie of 3D printers with <strong>one easy installer.</strong></p>

                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{% url 'subscriptions:checkout' %}" role="button">Get Early Access</a>
                    </p>
                    <hr class="my-2">
                    <h4>🎨 Mix and match OctoPrint, Mainsail, and more!</h4>
                    <hr class="my-2">

                    <h4 class="my-2">⚠️ Failure Detection & Real-time Monitoring</h4>

                    <hr class="my-2">

                    <h4>🔐 Secure Remote Access - Worldwide</h4>

                    <hr class="my-2">
                    <h4>☁️ Sync Files & Backup Automatically</h4>
                    <hr class="my-2">

                    <h4>💜 Growing Community of Makers, Artists, Entrepreneurs</h4>

            </div>
            <div class="col-12 col-md-6">
                <img class="img-fluid pull-left" src="{% static 'images/rpi-imager-printnanny-os.png'%}"/>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card h-100">
                    <div class="card-header bg-primary text-center bg-primary text-white">
                        <h3>Base Edition</h3>
                    </div>
                    <div class="card-body">
                        <h4>HQ Video Stream & Monitoring</h4>
                        <p>The Base Edition comes pre-installed with:

                            <ul>
                                <li>Defect & Failure Detection
                                </li>
                                <li>High Quality Video
                                <li>Runs on Raspberry Pi 4
                                </li>
                                <li>Based on Debian Bullseye (64-bit)
                                </li>
                                <li>Secure remote tunnel - <i>coming soon!</i></li>
                                <li>File sync - <i>coming soon!</i></li>

                            </ul>
                        </p>
                        <p><small>Raspberry Pi is a trademark of Raspberry Pi Trading.</small></p>
                    </div>
                    <div class="card-footer d-flex justify-content-around">
                        <a class="btn btn-primary btn-sm" href="">Download Latest</a>
                        <a class="btn btn-light btn-sm" href="">View Past Releases</a>
                    </div>
            </div>
            
        </div>
        <div class="col-12 col-md-4">
            <div class="card h-100">
                    <div class="card-header bg-success text-center bg-primary text-white">
                        <h3>OctoPrint Edition</h3>
                    </div>
                    <div class="card-body">
                        <h4>Compatible with OctoPrint</h4>
                        <p>Comes pre-installed with:
                            <ul>
                                <li>Everything in the Base Edition</strong>
                                </li>
                                <li>OctoPrint Web Interface</li>
                                <li>PrintNanny Event Adaptor</li>
                            </ul>
                            
                        </p>
                        <p>A portion of your subscription will be donated to support OctoPrint's development. 💚</p>
                        <p><small><a href="https://octoprint.org">OctoPrint is a registered trademark.</a></small> 
                        </p>
                    </div>
                    <div class="card-footer d-flex justify-content-around">
                        <a class="btn btn-success btn-sm" href="">Download Latest</a>
                        <a class="btn btn-light btn-sm" href="">View Past Releases</a>
                    </div>
            </div>
            
        </div>
        <div class="col-12 col-md-4 d-flex align-items-stretch">
            <div class="card h-100">
                <div class="card-header primary-gradient text-center bg-primary text-white">
                    <h3>Other Editions</h3>
                </div>
                <div class="card-body">
                    <h4><i>Coming in 2022!</i></h4>
                    <h4><i>Compatible with Moonraker, Mainsail, Fluidd</i></h4>
                    <p>
                       Please email <a href="mailto:leigh@print-nanny.com">leigh@print-nanny.com</a> if you're interested in early access.
                    </p>
                    <p>
                        Don't see your favorite printer software? Let me know about it!
                    </p>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <button disabled class="btn btn-primary btn-sm" href="">Download Latest</button>
                    <button disabled class="btn btn-light btn-sm" href="">View Past Releases</button>
                </div>
            </div>
            
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="display-4 text-center">Compare Editions</h2>
            <a class="btn btn-success btn-lg display-3 h2 text-center"target="_blank" href="{{ ROADMAP_URL }}">View the Roadmap</a>

            <p></p>
            {% include 'releases/partials/feature-table.html' %}
        </div>
    </div>
</div>
{% endblock content %}




