{% extends "vertical_base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title_extra %}PrintNanny OS - Releases{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="display-3">PrintNanny OS</h1>
                <p class="lead">Connect your menagerie of 3D printers with <strong>one easy installer.</strong></p>

                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Get Early Access</a>
                </p>
                <hr class="my-2">
                <h4>🎨 Mix and match OctoPrint, Mainsail, and more!</h4>
                <hr class="my-2">

                <h4 class="my-2">⚠️ Failure Detection & Real-time Monitoring</h4>

                <hr class="my-2">

                <h4>🔐 Secure Remote Access - Worldwide</h4>

                <hr class="my-2">
                <h4>☁️ Sync Files & Backup Automatically</h4>
                <hr class="my-2">

                <h4>💜 Growing Community of Makers, Artists, Entrepreneurs</h4>

            </div>
            <div class="col-12 col-md-6">
                <img class="img-fluid pull-left" src="{% static 'images/rpi-imager-printnanny-os.png'%}" />
            </div>
        </div>

    </div>
    <div class="row d-flex align-items-stretch">
        <div class="col-12 col-md-4 d-flex align-items-stretch">
            <div class="card">
                <div class="card-header bg-success text-center bg-primary text-white">
                    <h3>OctoPrint x Desktop Edition</h3>
                </div>
                <div class="card-body">
                    <h4>Supports Raspberry Pi 4</h4>
                    <p>Preinstalled with OctoPrint & PrintNanny's video streaming stack.</p>
                    <p>A portion of your subscription is donated to support OctoPrint development. 💚 </p>
                    <p> Best used with a keyboard/mouse/monitor.</p>

                </div>
                <div class="card-footer d-flex justify-content-around">
                    <a class="btn btn-success btn-sm" href="{{ slim_stable.image_url }}">Download Latest</a>
                    <a class="btn btn-light btn-sm" href="{{ slim_stable.image_url }}">View Past Releases</a>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-4 d-flex align-items-stretch">
            <div class="card">
                <div class="card-header primary-gradient text-center bg-primary text-white">
                    <h3>Base Desktop Edition</h3>
                </div>
                <div class="card-body">
                    <h4>Supports Raspberry Pi 4</h4>
                    <p>Add a portable, customizable computer to your workshop or warehouse.</p>
                    <p>Preinstalled with PrintNanny's video streaming stack</p>
                    <p> Best used with a keyboard/mouse/monitor.</p>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <a class="btn btn-primary btn-sm" href="{{ slim_stable.image_url }}">Download Latest</a>
                    <a class="btn btn-light btn-sm" href="{{ slim_stable.image_url }}">View Past Releases</a>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-4 d-flex align-items-stretch">
            <div class="card">
                <div class="card-header primary-gradient text-center bg-primary text-white">
                    <h3>Base Slim Edition</h3>
                </div>
                <div class="card-body">
                    <h4>Supports Raspberry Pi 3 & 4</h4>

                    <p>Minimal install for older devices like Raspberry Pi 3.</p>
                    <p>Comes pre-installed with PrintNanny's video streaming stack.</p>
                    <p><i>Sorry, Raspberry Pi Zero is not supported.</i></p>

                </div>
                <div class="card-footer d-flex justify-content-around">
                    <a class="btn btn-primary btn-sm" href="{{ slim_stable.image_url }}">Download Latest</a>
                    <a class="btn btn-light btn-sm" href="{{ slim_stable.image_url }}">View Past Releases</a>
                </div>
            </div>

        </div>

        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header primary-gradient text-center bg-danger text-white">
                    <h3>Coming in 2022</h3>
                </div>
                <div class="card-body">
                    <h4>Mainsail, Fluidd, and more!</h4>
                    <p>Email <a href="mailto:leigh@printnanny.ai">leigh@printnanny.ai</a> to test new editions 🚧</p>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-header primary-gradient text-center bg-danger text-white">
                    <h3>GPG Signature</h3>
                </div>
                <div class="card-body">
                    <p>Verify the authenticity of PrintNanny releases against the <code>sha256checksum.sig</code> file
                        (included in the tar.gz archive)</p>
                    <pre>
pub   rsa4096 2021-12-27 [C]
    106B63268D10AD071B6925175B656A39DDA22020
uid           [ultimate] PrintNanny (PrintNanny project key) <leigh@printnanny.ai>
sub   rsa4096 2021-12-27 [S]
    82ECF5BE02F5D4B133724CCD9E3B2AB15DB076E4
                        </pre>
                    <p>Official releases are downloaded from <a
                            href="https://cdn.print-nanny.com/">https://cdn.print-nanny.com/</a> - you shouldn't trust
                        any other source!</p>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}