---
kind: ConfigMap 
apiVersion: v1 
metadata:
  name: "{{ PRINT_NANNY_USER }}-sandbox"
data:
  DJANGO_SUPERUSER_PASSWORD: "{{ DJANGO_SUPERUSER_PASSWORD }}"
  DJANGO_SUPERUSER_EMAIL: "{{ DJANGO_SUPERUSER_EMAIL }}"
  DJANGO_SETTINGS_MODULE: "config.settings.sandbox"
  DJANGO_SECRET_KEY: "{{ DJANGO_SECRET_KEY }}"
  DJANGO_ALLOWED_HOSTS: ".sandbox.print-nanny.com"
  DJANGO_SECURE_SSL_REDIRECT: "False"
  DJANGO_WS_BASE_URL: "wss://{{ PRINT_NANNY_USER }}.sandbox.print-nanny.com:8080/ws"
  STRIPE_TEST_PUBLIC_KEY: "{{ STRIPE_PUBLIC_KEY }}"
  STRIPE_TEST_SECRET_KEY: "{{ STRIPE_SECRET_KEY }}"
  STRIPE_STRIPE_ENABLE_SUBSCRIPTIONS: "True"
  PRINT_NANNY_WS_URL: "{{ PRINT_NANNY_WS_URL }}"
  PRINT_NANNY_STATIC_URL: "{{ PRINT_NANNY_STATIC_URL }}"
  PRINT_NANNY_URL: "{{ PRINT_NANNY_URL }}"
  MAILGUN_API_KEY: "{{ MAILGUN_API_KEY }}"
  MAILGUN_DOMAIN: "{{ MAILGUN_DOMAIN }}"
  MAILGUN_API_URL: "https://api.mailgun.net/v3"
  DJANGO_GCP_STORAGE_BUCKET_NAME: "print-nanny-sandbox"
  DJANGO_ACCOUNT_ALLOW_REGISTRATION: "True"
  WEB_CONCURRENCY: "4"
  REDIS_URL: "redis://127.0.0.1t:6379/0"
  CELERY_BROKER_URL: "redis://127.0.0.1:6379/0"
  CELERY_FLOWER_USER: "debug"
  CELERY_FLOWER_PASSWORD: "debug"
  POSTGRES_HOST: "127.0.0.1"
  POSTGRES_PORT: "5432"
  POSTGRES_DB: "print_nanny_sandbox"
  POSTGRES_USER: "posgres"
  POSTGRES_PASSWORD: "postgres"
  DATABASE_URL: "postgres://postgres:postgres@postgres:5432/print_nanny_sandbox"
  HONEYCOMB_DATASET: "print_nanny_sandbox_monolith"
  HONEYCOMB_API_KEY: "{{ HONEYCOMB_API_KEY }}"
  DISCORD_TOKEN: "{{ DISCORD_TOKEN }}"
