---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: "{{ PRINT_NANNY_USER }}-pv-claim"
  labels:
    app: postgres
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ PRINT_NANNY_USER }}-postgres"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ PRINT_NANNY_USER }}-postgres"
  template:
    metadata:
      labels: 
        app: "{{ PRINT_NANNY_USER }}-postgres"
    spec:
      containers:
      - name: postgres
        image: postgres:12.3
        imagePullPolicy: "IfNotPresent"
        ports:
          - containerPort: 5432
        envFrom:
          - configMapRef:
              name: "{{ PRINT_NANNY_USER }}-sandbox"
        env:
          - name: PGDATA
            value: /var/lib/postgresql/data/pgdata
        volumeMounts:
          - mountPath: /var/lib/postgresql/data
            name: postgredb
      volumes:
        - name: postgredb
          persistentVolumeClaim:
            claimName: "{{ PRINT_NANNY_USER }}-pv-claim"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ PRINT_NANNY_USER }}-sandbox"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ PRINT_NANNY_USER }}-sandbox"

  template:
    metadata:
      labels:
        app: "{{ PRINT_NANNY_USER }}-sandbox"
    spec:
      serviceAccountName: webapp
      containers:
      - name: redis
        image: redis:6.2
      - name: celery-worker
        imagePullPolicy: Always
        image: us.gcr.io/print-nanny-sandbox/print_nanny_webapp:{{ GIT_SHA }}
        command:
          - /start-celeryworker
        envFrom:
          - configMapRef:
              name: "{{ PRINT_NANNY_USER }}-sandbox"
        env:
          - name: HONEYCOMB_SERVICE_NAME
            value: celery-worker
      - name: octoprint-events
        imagePullPolicy: Always
        command:
          - python
          - print_nanny_webapp/client_events/subscribers/octoprint_events.py
        image: us.gcr.io/print-nanny-sandbox/print_nanny_webapp:{{ GIT_SHA }}
        envFrom:
          - configMapRef:
              name: "{{ PRINT_NANNY_USER }}-sandbox"
        env:
          - name: HONEYCOMB_SERVICE_NAME
            value: octoprint-events
      - name: discord-worker
        imagePullPolicy: Always
        command:
          - python
          - manage.py
          - runworker
          - discord
        image: us.gcr.io/print-nanny-sandbox/print_nanny_webapp:{{ GIT_SHA }}
        envFrom:
          - configMapRef:
              name: "{{ PRINT_NANNY_USER }}-sandbox"
        env:
          - name: HONEYCOMB_SERVICE_NAME
            value: discord-worker
      - name: django
        imagePullPolicy: Always
        image: us.gcr.io/print-nanny-sandbox/print_nanny_webapp:{{ GIT_SHA }}
        livenessProbe:
          httpGet:
            path: /health/
            port: 8000
          initialDelaySeconds: 60
          periodSeconds: 15
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 4
        readinessProbe:
          httpGet:
            path: /health/
            port: 8000
          initialDelaySeconds: 60
          periodSeconds: 15
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 4
        command:
          - /start
        envFrom:
          - configMapRef:
              name: "{{ PRINT_NANNY_USER }}-sandbox"
        env:
          - name: HONEYCOMB_SERVICE_NAME
            value: django
      - name: octoprint
        imagePullPolicy: Always
        image: octoprint/octoprint
        livenessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 60
          periodSeconds: 15
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 4
        readinessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 60
          periodSeconds: 15
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 4
        envFrom:
          - configMapRef:
              name: "{{ PRINT_NANNY_USER }}-sandbox"
        env:
          - name: HONEYCOMB_SERVICE_NAME
            value: django
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ PRINT_NANNY_USER }}-octoprint"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ PRINT_NANNY_USER }}-octoprint"

  template:
    metadata:
      labels:
        app: "{{ PRINT_NANNY_USER }}-octoprint"
    spec:
      serviceAccountName: webapp
      containers:
      - name: octoprint
        imagePullPolicy: Always
        image: octoprint/octoprint
        livenessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 60
          periodSeconds: 15
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 4
        readinessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 60
          periodSeconds: 15
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 4
        envFrom:
          - configMapRef:
              name: "{{ PRINT_NANNY_USER }}-sandbox"
        env:
          - name: HONEYCOMB_SERVICE_NAME
            value: octoprint
---
apiVersion: v1
kind: Service
metadata:
  name: "{{ PRINT_NANNY_USER }}-django"
spec:
  selector:
    app: "{{ PRINT_NANNY_USER }}-sandbox"
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: NodePort
---
apiVersion: v1
kind: Service
metadata:
  name: "{{ PRINT_NANNY_USER }}-octoprint"
spec:
  selector:
    app: "{{ PRINT_NANNY_USER }}-octoprint"
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
---
apiVersion: v1
kind: Service
metadata:
  name: "{{ PRINT_NANNY_USER }}-postgres"
spec:
  selector:
    app: "{{ PRINT_NANNY_USER }}-postgres"
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: NodePort
---
apiVersion: networking.gke.io/v1
kind: ManagedCertificate
metadata:
  name: "{{ PRINT_NANNY_USER }}-sandbox-tls"
spec:
  domains:
    - "{{ PRINT_NANNY_USER }}.sandbox.print-nanny.com"
    - "octoprint.{{ PRINT_NANNY_USER }}.sandbox.print-nanny.com"

---
apiVersion: networking.gke.io/v1beta1
kind: FrontendConfig
metadata:
  name: http-to-https
spec:
  redirectToHttps:
    enabled: true
    responseCodeName: MOVED_PERMANENTLY_DEFAULT

---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: "{{ PRINT_NANNY_USER }}-django"
  annotations:
    networking.gke.io/v1beta1.FrontendConfig: "http-to-https"
    kubernetes.io/ingress.global-static-ip-name: "{{ PRINT_NANNY_USER }}-static-ip"
    networking.gke.io/managed-certificates: "{{ PRINT_NANNY_USER }}-sandbox-tls"
spec:
  backend:
    serviceName: "{{ PRINT_NANNY_USER }}-django"
    servicePort: 80
  rules:
  - host: "octoprint.{{ PRINT_NANNY_USER }}.sandbox.print-nanny.com"
    http:
      paths:
      - path: /*
        backend:
          serviceName: "{{ PRINT_NANNY_USER }}-octoprint"
          servicePort: 80
  - host: "{{ PRINT_NANNY_USER }}.sandbox.print-nanny.com"
    http:
      paths:
      - path: /*
        backend:
          serviceName: "{{ PRINT_NANNY_USER }}-django"
          servicePort: 80
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: webapp
  annotations:
    iam.gke.io/gcp-service-account: webapp@print-nanny-sandbox.iam.gserviceaccount.com