---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "postgres"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "postgres"
      branch: "{{ GIT_BRANCH }}"
      owner: "{{ PRINT_NANNY_USER }}"
  template:
    metadata:
      labels: 
        branch: "{{ GIT_BRANCH }}"
        owner: "{{ PRINT_NANNY_USER }}"
        app: "postgres"
    spec:
      containers:
      - name: postgres
        image: postgres:12.3
        imagePullPolicy: "IfNotPresent"
        ports:
          - containerPort: 5432
        envFrom:
          - configMapRef:
              name: "sandbox-config"
        env:
          - name: PGDATA
            value: /var/lib/postgresql/data/pgdata
        volumeMounts:
          - mountPath: /var/lib/postgresql/data
            name: postgredb
      volumes:
        - name: postgredb
          persistentVolumeClaim:
            claimName: "postgres-pv-claim"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "webapp"
  labels:
    version: "{{ GIT_SHA }}"
    app: webapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
      version: "{{ GIT_SHA }}"
  template:
    metadata:
      labels:
        version: "{{ GIT_SHA}}"
        app: webapp
    spec:
      serviceAccountName: webapp
      containers:
      - name: redis
        image: redis:6.2
      - name: celery-worker
        imagePullPolicy: Always
        image: us.gcr.io/print-nanny-sandbox/print_nanny_webapp:{{ GIT_SHA }}
        command:
          - /start-celeryworker
        envFrom:
          - configMapRef:
              name: "sandbox-config"
        env:
          - name: HONEYCOMB_SERVICE_NAME
            value: celery-worker
      - name: octoprint-events
        imagePullPolicy: Always
        command:
          - python
          - print_nanny_webapp/telemetry/subscribers/octoprint_events.py
        image: us.gcr.io/print-nanny-sandbox/print_nanny_webapp:{{ GIT_SHA }}
        envFrom:
          - configMapRef:
              name: "sandbox-config"
        env:
          - name: HONEYCOMB_SERVICE_NAME
            value: octoprint-events
      - name: django
        imagePullPolicy: Always
        image: us.gcr.io/print-nanny-sandbox/print_nanny_webapp:{{ GIT_SHA }}
        livenessProbe:
          httpGet:
            path: /health/
            port: 8000
          initialDelaySeconds: 60
          periodSeconds: 15
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 4
        readinessProbe:
          httpGet:
            path: /health/
            port: 8000
          initialDelaySeconds: 60
          periodSeconds: 15
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 4
        command:
          - /start
        envFrom:
          - configMapRef:
              name: "sandbox-config"
        env:
          - name: HONEYCOMB_SERVICE_NAME
            value: django
