---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: "octoprint-pv-claim"
  labels:
    app: octoprint
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: "postgres-pv-claim"
  labels:
    app: postgres
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "postgres"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "postgres"
      branch: "{{ GIT_BRANCH }}"
      owner: "{{ PRINT_NANNY_USER }}"
  template:
    metadata:
      labels: 
        branch: "{{ GIT_BRANCH }}"
        owner: "{{ PRINT_NANNY_USER }}"
        app: "postgres"
    spec:
      containers:
      - name: postgres
        image: postgres:12.3
        imagePullPolicy: "IfNotPresent"
        ports:
          - containerPort: 5432
        envFrom:
          - configMapRef:
              name: "sandbox-config"
        env:
          - name: PGDATA
            value: /var/lib/postgresql/data/pgdata
        volumeMounts:
          - mountPath: /var/lib/postgresql/data
            name: postgredb
      volumes:
        - name: postgredb
          persistentVolumeClaim:
            claimName: "postgres-pv-claim"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "print-nanny-sandbox"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "sandbox"
      branch: "{{ GIT_BRANCH }}"
      owner: "{{ PRINT_NANNY_USER }}"
  template:
    metadata:
      labels:
        branch: "{{ GIT_BRANCH }}"
        owner: "{{ PRINT_NANNY_USER }}"
        app: "sandbox"
    spec:
      serviceAccountName: webapp
      containers:
      - name: redis
        image: redis:6.2
      - name: celery-worker
        imagePullPolicy: Always
        image: us.gcr.io/print-nanny-sandbox/print_nanny_webapp:{{ GIT_SHA }}
        command:
          - /start-celeryworker
        envFrom:
          - configMapRef:
              name: "sandbox-config"
        env:
          - name: HONEYCOMB_SERVICE_NAME
            value: celery-worker
      - name: octoprint-events
        imagePullPolicy: Always
        command:
          - python
          - print_nanny_webapp/telemetry/subscribers/octoprint_events.py
        image: us.gcr.io/print-nanny-sandbox/print_nanny_webapp:{{ GIT_SHA }}
        envFrom:
          - configMapRef:
              name: "sandbox-config"
        env:
          - name: HONEYCOMB_SERVICE_NAME
            value: octoprint-events
      - name: discord-worker
        imagePullPolicy: Always
        command:
          - python
          - manage.py
          - runworker
          - discord
        image: us.gcr.io/print-nanny-sandbox/print_nanny_webapp:{{ GIT_SHA }}
        envFrom:
          - configMapRef:
              name: "sandbox-config"
        env:
          - name: HONEYCOMB_SERVICE_NAME
            value: discord-worker
      - name: django
        imagePullPolicy: Always
        image: us.gcr.io/print-nanny-sandbox/print_nanny_webapp:{{ GIT_SHA }}
        livenessProbe:
          httpGet:
            path: /health/
            port: 8000
          initialDelaySeconds: 60
          periodSeconds: 15
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 4
        readinessProbe:
          httpGet:
            path: /health/
            port: 8000
          initialDelaySeconds: 60
          periodSeconds: 15
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 4
        command:
          - /start
        envFrom:
          - configMapRef:
              name: "sandbox-config"
        env:
          - name: HONEYCOMB_SERVICE_NAME
            value: django
      - name: octoprint
        imagePullPolicy: Always
        image: octoprint/octoprint
        livenessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 60
          periodSeconds: 15
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 4
        readinessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 60
          periodSeconds: 15
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 4
        envFrom:
          - configMapRef:
              name: "sandbox-config"
        env:
          - name: HONEYCOMB_SERVICE_NAME
            value: django
        volumeMounts:
          - mountPath: /octoprint
            name: octoprint-data
      volumes:
        - name: octoprint-data
          persistentVolumeClaim:
            claimName: "octoprint-pv-claim"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "octoprint"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "octoprint"
      branch: "{{ GIT_BRANCH }}"
      owner: "{{ PRINT_NANNY_USER }}"
  template:
    metadata:
      labels:
        branch: "{{ GIT_BRANCH }}"
        owner: "{{ PRINT_NANNY_USER }}"
        app: "octoprint"
    spec:
      serviceAccountName: webapp
      containers:
      - name: octoprint
        imagePullPolicy: Always
        image: octoprint/octoprint
        livenessProbe:
          httpGet:
            path: /api/currentuser # root path serves 302 (login) which is not followed by health check
            port: 5000
          initialDelaySeconds: 30
          periodSeconds: 15
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 4
        readinessProbe:
          httpGet:
            path: /api/currentuser # root path serves 302 (login) which is not followed by health check
            port: 5000
          initialDelaySeconds: 30
          periodSeconds: 15
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 4
        envFrom:
          - configMapRef:
              name: "sandbox-config"
        env:
          - name: HONEYCOMB_SERVICE_NAME
            value: octoprint
          - name: OCTOPRINT_NANNY_GCP_PROJECT_ID
            value: "{{ PROJECT }}"
          - name: OCTOPRINT_NANNY_API_URL
            value: "{{ PRINT_NANNY_API_URL }}"
          - name: OCTOPRINT_NANNY_WS_URL
            value: "{{ PRINT_NANNY_WS_URL }}"
          - name: OCTOPRINT_NANNY_IOT_DEVICE_REGISTRY
            value: "{{ PRINT_NANNY_IOT_DEVICE_REGISTRY }}"
          - name: OCTOPRINT_NANNY_HONEYCOMB_DATASET
            value: "{{ PRINT_NANNY_HONEYCOMB_DATASET }}"
          - name: OCTOPRINT_NANNY_HONEYCOMB_API_KEY
            value: "{{ PRINT_NANNY_HONEYCOMB_API_KEY }}"
          - name: "OCTOPRINT_NANNY_HONEYCOMB_DEBUG"
            value: "{{ PRINT_NANNY_HONEYCOMB_DEBUG }}"
---
apiVersion: v1
kind: Service
metadata:
  name: "django"
spec:
  selector:
    app: "sandbox"
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: NodePort
---
apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: "octoprint-backend"
spec:
  healthCheck:
    checkIntervalSec: 30
    port: 80
    type: HTTP
    requestPath: /api/currentuser # root path serves 302 (login) which is not followed by health check
---
apiVersion: v1
kind: Service
metadata:
  name: "octoprint"
  annotations:
    cloud.google.com/backend-config: '{"ports": {"80":"octoprint-backend"}}'
    cloud.google.com/neg: '{"ingress": true}'
spec:
  selector:
    app: "octoprint"
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
---
apiVersion: v1
kind: Service
metadata:
  name: "postgres"
spec:
  selector:
    app: "postgres"
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: NodePort
---
apiVersion: networking.gke.io/v1beta1
kind: FrontendConfig
metadata:
  name: http-to-https
spec:
  redirectToHttps:
    enabled: true
    responseCodeName: MOVED_PERMANENTLY_DEFAULT
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: "django"
  annotations:
    networking.gke.io/v1beta1.FrontendConfig: "http-to-https"
    kubernetes.io/ingress.global-static-ip-name: "static-ip"
    networking.gke.io/managed-certificates: "sandbox-tls"
spec:
  backend:
    serviceName: "django"
    servicePort: 80
  rules:
  - host: "octoprint.{{ PRINT_NANNY_USER }}.sandbox.print-nanny.com"
    http:
      paths:
      - path: /*
        backend:
          serviceName: "octoprint"
          servicePort: 80
  - host: "{{ PRINT_NANNY_USER }}.sandbox.print-nanny.com"
    http:
      paths:
      - path: /*
        backend:
          serviceName: "django"
          servicePort: 80
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: webapp
  annotations:
    iam.gke.io/gcp-service-account: webapp@print-nanny-sandbox.iam.gserviceaccount.com