{% extends "vertical_base.html" %}
{% load static i18n %}

{% block head_title %}{% trans "Vector Maps" %}{% endblock head_title %}

{% block extra_css %}

    <!-- third party css -->
    <link href="{% static 'css/vendor/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" />
    <!-- third party css end -->

{% endblock %}


{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">
        
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Maps</a></li>
                            <li class="breadcrumb-item active">Vector Maps</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Vector Maps</h4>
                </div>
            </div>
        </div>     
        <!-- end page title --> 

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">World Vector Map</h4>
                        <div id="world-map-markers" style="height: 360px"></div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->

        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">USA Vector Map</h4>
                        <div id="usa-vectormap" style="height: 300px"></div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">India Vector Map</h4>
                        <div id="india-vectormap"  style="height: 300px"></div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->

        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Australia Vector Map</h4>
                        <div id="australia-vectormap" style="height: 300px"></div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Chicago Vector Map</h4>
                        <div id="chicago-vectormap"  style="height: 300px"></div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->

        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">UK Vector Map</h4>
                        <div id="uk-vectormap" style="height: 300px"></div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Canada Vector Map</h4>
                        <div id="canada-vectormap"  style="height: 300px"></div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->

        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Europe Vector Map</h4>
                        <div id="europe-vectormap" style="height: 300px"></div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">France Vector Map</h4>
                        <div id="france-vectormap"  style="height: 300px"></div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->

        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Spain Vector Map</h4>
                        <div id="spain-vectormap" style="height: 300px"></div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Spain Vector Map</h4>
                        <div id="spain2-vectormap"  style="height: 300px"></div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->
        
    </div> <!-- container -->
{% endblock %}

{% block extra_javascript %}

    <!-- third party js -->
    <script src="{% static 'js/vendor/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-jvectormap-us-merc-en.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-jvectormap-in-mill-en.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-jvectormap-au-mill-en.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-jvectormap-us-il-chicago-mill-en.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-jvectormap-uk-mill-en.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-jvectormap-ca-lcc-en.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-jvectormap-europe-mill-en.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-jvectormap-fr-merc-en.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-jvectormap-es-merc.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-jvectormap-es-mill.js' %}"></script>
    <!-- third party js ends -->

    <!-- demo app -->
            <script src="{% static 'js/pages/demo.vector-maps.js' %}"></script>
    <!-- end demo js-->

{% endblock %}