<div class="card ribbon-box">
    <div class="card-body">
        <div class="ribbon ribbon-primary float-left"><h4><i class="mdi mdi-access-point mr-1"></i>Founding Member Perks</h4></div>
        <h4 class="text-primary float-right mt-0">{{ AVAILABLE_SUBSCRIPTIONS_COUNT }} spots left</h4>
        
    
        <div class="ribbon-content">

            <p class="mb-2">To continue providing high quality support, I'm opening a limited number of  <strong>Founding Member</strong> spots for Print Nanny. </p>
            
            <dl class="row mb-0">
                <dt class="col-sm-3">Priority Support</dt>
                <dd class="col-sm-9">
                    <p>Email <a href="mailto:leigh@print-nanny.com">leigh@print-nanny.com</a> for help.</p>
                    <p>Get access to a private #members-only Discord channel, where your input will drive Print Nanny's roadmap.</p></dd>
                        
                <dt class="col-sm-3">Risk Free</dt>
                <dd class="col-sm-9">
                    <p>90-day money-back guarantee.</strong></p>
                    <p> If you're not 100% satisfied with Print Nanny, <strong>I'll give you a full refund.</strong></p>
                </dd>
                        
                <dt class="col-sm-3">Swag</dt>
                <dd class="col-sm-9">To say thank you for becoming one of Print Nanny's early adoptors, you'll receive exclusive stickers and 3D print models.</dd>
            
            </dl>
        </div>
    </div> <!-- end card-body -->
</div> <!-- end card-->

<div class="card ribbon-box">
    <div class="card-body">
        <div class="ribbon ribbon-primary float-left"><h4><i class="mdi mdi-access-point mr-1"></i>Early Access Discount</h4></div>
        <h4 class="text-primary float-right mt-0">25% off launch price</h4>
        
        <div class="ribbon-content">
                                
            <dl class="row mb-0">
                <dt class="col-sm-3">Unlimited Monitoring</dt>
                <dd class="col-sm-9">
                    <p>No metered usage. No monthly addons.</p>
                    <p>
                    24/7 printer monitoring with no hidden costs.</p>

                <dt class="col-sm-3">Unlimited Printers</dt>
                <dd class="col-sm-9">
                    <p>Connect an unlimited number of printers for a full year.</p>
                </dd>
                        
                <dt class="col-sm-3"> 
                    Introductory Price
                </dt>
                <dd class="col-sm-9"><strike>$199 / year public launch price</strike>
                <br><span class="text-primary">$149 / year early access price</span></dd>
            
            </dl>
        </div>
    </div> <!-- end card-body -->
</div> <!-- end card-->