{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load timestamp_to_time %}

{% block css %}
{{ block.super }}
<style>
    .StripeElement {
        box-sizing: border-box;

        height: 40px;

        padding: 10px 12px;

        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;

        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Dashboard</a></li>

                        <li class="breadcrumb-item active">Billing</li>
                    </ol>
                </div>
                <h4 class="page-title d-inline-block">Billing & Payment History
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-12 col-md-6 d-flex align-items-stretch">
            <div class="card-body">
                {% if SUBSCRIPTION %}
                <dl class="row">
                    <dt class="col-sm-3">Plan</dt>
                    <dd class="col-sm-9">{{ SUBSCRIPTION.plan.product.name }}</dd>
                    <dt class="col-sm-3">Start Date</dt>
                    <dd class="col-sm-9">{{ SUBSCRIPTION.start_date| date }}</dd>
                    <dt class="col-sm-3">Status</dt>
                    <dd class="col-sm-9">
                        {{ SUBSCRIPTION.status | title }}
                        <!-- {% if SUBSCRIPTION.status == "active" %}
                        <i class="mdi mdi-circle text-success"></i>
                        {% elif SUBSCRIPTION.status == "unpaid" or SUBSCRIPTION.status == "past_due" or
                        SUBSCRIPTION.status == "trialing" %}
                        <i class="mdi mdi-circle text-warning"></i>
                        {% elif SUBSCRIPTION.status == "past_due" %}
                        <i class="mdi mdi-circle text-danger"></i>
                        {% else %}
                        <i class="mdi mdi-circle"></i>
                        {% endif %} -->
                    </dd>
                    <dt class="col-sm-3">Next Invoice</dt>
                    <dd class="col-sm-9">
                        ${{ NEXT_INVOICE.amount_due }} due {{ SUBSCRIPTION.current_period_end }}
                        {% if NEXT_INVOICE.discount %}
                        (discount applied)
                        {% endif %}
                        <br>
                        {% if SUBSCRIPTION.status == "active" or SUBSCRIPTION.status == "trialing" %}
                        <a class="btn btn-danger btn-sm">Cancel Subscription</a>
                        <!-- <a class="btn btn-light btn-sm">Pause</a> -->
                        {% endif %}

                        {% if SUBSCRIPTION.status != "active" and SUBSCRIPTION.status != "trialing" %}
                        <a class="btn btn-secondary btn-sm">Upgrade Now</a>
                        {% endif %}
                    </dd>
                    <dt class="col-sm-3">Promo Code</dt>
                    <dd class="col-sm-9">
                        {% if SUBSCRIPTION.discount %}
                        {{ SUBSCRIPTION.discount.coupon.name }}
                        <br>
                        {{ SUBSCRIPTION.discount.start | timestamp_to_time }} -
                        {{ SUBSCRIPTION.discount.end | timestamp_to_time }}

                        {% endif %}
                    </dd>
                </dl>
                <p>A reminder email will be sent to {{ SUBSCRIPTION.customer.email }} 7 days before renewal.
                </p>
                {% else %}
                <p>No subscription found. Email leigh@printprinny.ai if this looks incorret.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-12 d-flex align-items-stretch">
            <div class="card-body">


                <h4>Previous Payments</h4>
                <table id="charge-history" class="table table-hover table-centered">
                    <thead>
                        <tr>

                            <th>Amount</th>
                            <th>Transaction Date</th>
                            <th>Payment Method</th>
                            <th>Invoice</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for charge in STRIPE_CHARGES %}
                        <tr>
                            <td>{{ charge }}</td>
                            <td>{{ charge.created | date }}</td>
                            <td>
                                {% if charge.payment_method.type == "card" %}
                                {{ charge.payment_method.card.brand }} ending in {{ charge.payment_method.card.last4 }}
                                {% else %}
                                {{ charge.payment_method }}
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="{{ charge.invoice.hosted_invoice_url }}">View
                                    invoice</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-12 d-flex align-items-stretch">
            <div class="card-body">


                <h4>Billing Event History</h4>
                <table id="charge-history" class="table table-hover table-centered">
                    <thead>
                        <tr>

                            <th>Type</th>
                            <th>Date</th>
                            <th>ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in STRIPE_EVENTS %}
                        <tr>
                            <td>{{ event.type }}</td>
                            <td>{{ event.created | date }}</td>
                            <td>
                                {{ event.data.object.id }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_javascript %}
{{ block.super }}
<script src="https://js.stripe.com/v3/"></script>

<!-- Source based on https://medium.com/@berat703/django-stripe-integration-with-using-dj-stripe-1df59d17fa73 -->
<script>
    function getCookie(name) {
        if (!document.cookie) {
            return null;
        }
        const xsrfCookies = document.cookie.split(';')
            .map(c => c.trim())
            .filter(c => c.startsWith(name + '='));
        if (xsrfCookies.length === 0) {
            return null;
        }
        return decodeURIComponent(xsrfCookies[0].split('=')[1]);
    }

    function paySubscription(price_id) {
        var devices = $("input:checkbox[name=devices]:checked").map(function () { return $(this).val() }).get();
        var displayError = $("#card-errors");
        displayError.text("");
        displayError.hide();

        if (devices.length === 0) {
            displayError.text("Please select at least one device");
            displayError.show();
            return
        }

        fetch("{% url 'subscriptions:checkout' %}", {
            method: 'POST',
            headers: {
                "X-CSRFToken": getCookie("csrftoken"),
                "Accept": "application/json",
                "Content-Type": "application/json",
                "X-Requested-With": "XMLHttpRequest"
            },
            body: JSON.stringify({ price_id, devices })
        }).then(function (result) {
            result.json().then(function (json) {
                // Something went wrong with a message too
                if (typeof json.err !== "undefined") {
                    displayError.text(json.err);
                    displayError.show();
                }

                // Something went wrong - HTTP status code
                if (!result.ok) return

                const stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
                stripe.redirectToCheckout({
                    sessionId: json.session_id
                }).then(function (result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, display the localized error message to your customer
                    // using `result.error.message`.
                    displayError.text(result.error.message);
                    displayError.show();
                });
            })
        });
    }
</script>
{% endblock %}