{% load static i18n crispy_forms_tags %}

{% if object.geekstoken_set.first.verified %}
<form method="post">
    {% csrf_token %}
    <input type="hidden" value="{{ object.id }}" name="octoprint_device_id">
    <button name="action" value="test_3dgeeks" type="submit" class="btn btn-secondary btn-small">Send Test Alert</button>

    <button name="action" value="revoke_3dgeeks" type="submit" class="btn btn-danger btn-small">Revoke 3D Geeks Access</button>
</form>
{% else %}
<button data-toggle="modal" data-target="#octoprint-device-partner-3dgeeks-modal" class="btn btn-success btn-small">Connect 3D Geeks</button>
<!--  Modal -->
<div class="modal fade" id="octoprint-device-partner-3dgeeks-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Connect you Printer to 3D Geeks</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div id="octoprint-device-partner-3d-geeks-qrcode" class="modal-body text-center"">
                <p>Scan the QR below to add your printer to the 3D Geeks mobile app.</p>
                <img class=".mx-auto img-thumbnail mb-2" src="{{ object.geekstoken_set.first.qrcode.url }}">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ object.id }}" name="octoprint_device_id">
                    <button name="action" value="test_3dgeeks" type="submit" class="btn btn-secondary btn-small">Send Test Alert</button>
                
                </form>
            </div>
            <div class="modal-footer">
                <p class="mx-auto text-center">Having trouble scanning the QR Code? Connect by entering the following code in the 3D Geeks app:</p>
                <code class="mx-auto" id="partners-3dgeeks-token">{{ object.geekstoken_set.first.key }}</code>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}



